.attendance-table th {
    vertical-align: middle;
}

.btn-group-toggle label {
    width: 40px;
    cursor: pointer;
}

.btn-group-toggle input[type="radio"] {
    display: none;
}

.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}