<app-toaster #toaster></app-toaster>
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-dark flaticon-squares"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Subject Details
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-widget kt-widget--user-profile-3" *ngIf="subjectData">
            <div class="kt-widget__top">
                <div class="kt-widget__pic kt-widget__pic--primary kt-font-primary kt-font-bolder kt-font-light">
                    {{ getInitials(subjectData.name) }}
                </div>
                <div class="kt-widget__content">
                    <div class="kt-widget__head">
                        <div class="kt-widget__user">
                            <a href="#" class="kt-widget__username">
                                {{ subjectData.name }}
                            </a>
                            <span class="ml-2 kt-badge kt-badge--bolder kt-badge kt-badge--inline"
                                [ngClass]="subjectData.active ? 'kt-badge--unified-success' : 'kt-badge--unified-danger'">
                                {{ subjectData.active ? 'Active' : 'Inactive' }}
                            </span>
                        </div>
                    </div>
                    <div class="kt-widget__subhead row">
                        <div class="col-4">
                            <a><b>Code:</b> {{ subjectData.code }}</a>
                        </div>
                        <div class="col-4" *ngIf="subjectData.subjectGroupName">
                            <a><b>Group:</b> {{ subjectData.subjectGroupName }}</a>
                        </div>
                        <div class="col-4">
                            <a><b>Type:</b> {{ subjectData.isElective ? 'Elective' : 'Mandatory' }}</a>
                        </div>
                    </div>

                    <div class="kt-widget__info" *ngIf="subjectData.description">
                        <div class="kt-widget__desc">
                            <i style="font-size: 1.5rem !important;" class="flaticon-document mr-2"></i>
                            <b>{{ subjectData.description }}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>