<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-3 shadow">
      <!-- Header -->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title container text-center">
          {{ course.courseId ? 'Edit Course' : 'Add New Course' }}
        </h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form>
            <div class="container text-left">
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Course Code</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="course.courseCode"
                            name="courseCode"
                            placeholder="Enter Code">
                    </div>
                    <div class="col">
                        <label class="form-label">Name</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="course.courseName"
                            name="courseName"
                            placeholder="Enter Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Teacher</label>
                        <select class="form-select" [(ngModel)]="course.teacherId" name="teacher">
                            <option [ngValue]="undefined">-- Select --</option>
                            <option *ngFor="let t of theachers" [value]="t.id">{{ t.firstName }} {{ t.lastName }}</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Department</label>
                        <select class="form-select" [(ngModel)]="course.departmentId" name="department">
                            <option [ngValue]="undefined">-- Select --</option>
                            <option *ngFor="let d of department" [value]="d.departmentId">{{ d.departmentName }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Grade</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="course.grade"
                            name="grade"
                            placeholder="Enter Grade">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Credits</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="course.credits"
                            name="credits"
                            placeholder="Enter Credits">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Status</label>
                        <select class="form-select" [(ngModel)]="course.isActive" name="activestatus">
                            <option [ngValue]="undefined">-- Select --</option>
                            <option [value]=true>YES</option>
                            <option [value]=false>YES</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">
          {{ course.courseId ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Optional backdrop -->
<div class="modal-backdrop fade show"></div>
