<app-toaster #toaster></app-toaster>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{ isEditMode ? 'Edit Admission Type' : 'Add New Admission Type' }}
      </h3>
    </div>
  </div>

  <form class="kt-form kt-form--label-right" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="kt-portlet__body">
      <div class="form-group row">
        
        <div class="col-lg-6">
          <label>Code <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="code" placeholder="Enter code">
          <div *ngIf="code?.invalid && (code?.dirty || code?.touched)" class="text-danger mt-1">
            {{ getErrorMessage('code') }}
          </div>
        </div>

        <div class="col-lg-6">
          <label>Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger mt-1">
            {{ getErrorMessage('name') }}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-12">
          <label>Description</label>
          <textarea class="form-control" formControlName="description" rows="3" placeholder="Enter description"></textarea>
          <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger mt-1">
            {{ getErrorMessage('description') }}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-4">
          <label>Status</label>
          <div class="kt-checkbox-inline mt-2">
            <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
              <label>
                <input type="checkbox" formControlName="isActive">
                <span></span>
              </label>
            </span>
            <span class="ml-2 font-weight-bold" [ngClass]="form.get('isActive')?.value ? 'text-success' : 'text-danger'">
              {{ form.get('isActive')?.value ? 'Active' : 'Inactive' }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-brand" [disabled]="form.invalid || isLoading">
               Save 
            </button>
            <button type="button" class="btn btn-secondary ml-2" (click)="goToListing()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-loader *ngIf="isLoading" [message]="loadingMessage" [fullScreen]="true"></app-loader>
