<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-l modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-3 shadow">
      <!-- Header -->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title container text-center">
          {{  department.departmentId ? 'Edit Department' : 'Add New Department' }}
        </h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form>
            <div class="container text-left">
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Campus</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="department.campusId"
                            name="campusId"
                            placeholder="Enter Campus">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Name</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="department.departmentName"
                            name="departmentName"
                            placeholder="Enter Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Department Head</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="department.departmentHeadId"
                            name="department"
                            placeholder="Enter Department Head">
                    </div>
                </div>
            </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">
          {{ department.departmentId  ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Optional backdrop -->
<div class="modal-backdrop fade show"></div>
