<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Personal Information
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-actions">
                    <div class="dropdown dropdown-inline">
                        <a href="#" class="btn btn-outline-success btn-sm btn-icon btn-icon-md" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="flaticon2-add-1"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    <a class="kt-nav__link" (click)="toggleStudentForm(studentId)">
                                        <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                                        <span class="kt-nav__link-text">Update Personal Information</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
          <app-toaster></app-toaster>

            <div *ngIf="!showStudentForm" class="animate__animated animate__fadeIn">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">First Name</span>
                            <span class="info-value">{{studentData?.firstName || 'N/A'}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Middle Name</span>
                            <span class="info-value">{{studentData?.middleName || 'N/A'}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Last Name</span>
                            <span class="info-value">{{studentData?.lastName || 'N/A'}}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Full Name</span>
                            <span class="info-value">{{studentData?.fullName || 'N/A'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Date of Birth</span>
                            <span class="info-value text-primary">
                                <i class="la la-calendar mr-1"></i> {{studentData?.dateOfBirth || 'N/A'}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="kt-separator custom-sep"></div>

                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Gender</span>
                            <span class="info-value">
                                <i class="la la-transgender mr-1"></i> {{studentData?.gender || 'N/A'}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">CRC / CNIC</span>
                            <span class="info-value">
                                <i class="la la-vcard mr-1"></i> {{studentData?.cnic || 'N/A'}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Blood Group</span>
                            <span class="info-value text-danger">
                                <i class="la la-tint mr-1"></i> {{studentData?.bloodGroup || 'N/A'}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Phone Number</span>
                            <span class="info-value">
                                <i class="la la-phone mr-1"></i> {{studentData?.phone || 'N/A'}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Email Address</span>
                            <span class="info-value text-truncate" [title]="studentData?.email || 'N/A'">
                                <i class="la la-envelope mr-1"></i> {{studentData?.email || 'N/A'}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Religion</span>
                            <span class="info-value">{{studentData?.religion || 'N/A'}}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Nationality</span>
                            <span class="info-value">
                                <i class="la la-globe mr-1"></i> {{studentData?.nationality || 'N/A'}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8 mb-4">
                        <div class="info-item-box">
                            <span class="info-label">Residential Address</span>
                            <span class="info-value">
                                <i class="la la-map-marker mr-1"></i> {{studentData?.address || 'N/A'}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showStudentForm">
                <form class="kt-form" [formGroup]="createForm" (ngSubmit)="onStudentSubmit()">

                    <div class="form-group row form-group-marginless kt-margin-t-20">
                        <label class="col-lg-2 col-form-label required">First Name:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                                [class.is-invalid]="firstName?.invalid && (firstName?.touched || firstName?.dirty)"
                                [class.is-valid]="firstName?.valid && (firstName?.touched || firstName?.dirty)">
                            <span class="form-text text-muted">Please enter First Name</span>
                            <span class="invalid-feedback"
                                *ngIf="firstName?.invalid && (firstName?.touched || firstName?.dirty)">
                                {{ getErrorMessage('firstName') }}
                            </span>
                        </div>

                        <label class="col-lg-2 col-form-label required">Last Name:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                                [class.is-invalid]="lastName?.invalid && (lastName?.touched || lastName?.dirty)"
                                [class.is-valid]="lastName?.valid && (lastName?.touched || lastName?.dirty)">
                            <span class="form-text text-muted">Please enter Last Name</span>
                            <span class="invalid-feedback"
                                *ngIf="lastName?.invalid && (lastName?.touched || lastName?.dirty)">
                                {{ getErrorMessage('lastName') }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row form-group-marginless kt-margin-t-20">
                        <label class="col-lg-2 col-form-label">Middle Name:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Middle Name"
                                formControlName="middleName">
                            <span class="form-text text-muted">Please enter Middle Name</span>
                        </div>

                        <label class="col-lg-2 col-form-label">National Id:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="B-Form/CNIC" formControlName="cnic"
                                [class.is-invalid]="cnic?.invalid && (cnic?.touched || cnic?.dirty)"
                                [class.is-valid]="cnic?.valid && (cnic?.touched || cnic?.dirty)">
                            <span class="form-text text-muted">Please enter National Id</span>
                            <span class="invalid-feedback" *ngIf="cnic?.invalid && (cnic?.touched || cnic?.dirty)">
                                {{ getErrorMessage('cnic') }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row form-group-marginless kt-margin-t-20">
                        <label class="col-lg-2 col-form-label">Passport #:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Passport Number" formControlName="passportNumber">
                            <span class="form-text text-muted">Optional</span>
                        </div>

                        <label class="col-lg-2 col-form-label required">DOB:</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" placeholder="DOB" formControlName="dateOfBirth"
                                [class.is-invalid]="dateOfBirth?.invalid && (dateOfBirth?.touched || dateOfBirth?.dirty)"
                                [class.is-valid]="dateOfBirth?.valid && (dateOfBirth?.touched || dateOfBirth?.dirty)">
                            <span class="form-text text-muted">Please enter DOB</span>
                            <span class="invalid-feedback"
                                *ngIf="dateOfBirth?.invalid && (dateOfBirth?.touched || dateOfBirth?.dirty)">
                                {{ getErrorMessage('dateOfBirth') }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row form-group-marginless kt-margin-t-20">
                        <label class="col-lg-2 col-form-label required">Phone:</label>
                        <div class="col-lg-4">
                            <input type="tel" class="form-control" placeholder="+92XXXXXXXXXX" formControlName="phone"
                                [class.is-invalid]="phone?.invalid && (phone?.touched || phone?.dirty)"
                                [class.is-valid]="phone?.valid && (phone?.touched || phone?.dirty)">
                            <span class="form-text text-muted">Please enter Phone Number</span>
                            <span class="invalid-feedback" *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)">
                                {{ getErrorMessage('phone') }}
                            </span>
                        </div>

                        <label class="col-lg-2 col-form-label required">Email:</label>
                        <div class="col-lg-4">
                            <input type="email" class="form-control" placeholder="example@mail.com"
                                formControlName="email"
                                [class.is-invalid]="email?.invalid && (email?.touched || email?.dirty)"
                                [class.is-valid]="email?.valid && (email?.touched || email?.dirty)">
                            <span class="form-text text-muted">Please enter Email</span>
                            <span class="invalid-feedback" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                                {{ getErrorMessage('email') }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row form-group-marginless kt-margin-t-20">
                        <label class="col-lg-2 col-form-label required">Gender:</label>
                        <div class="col-lg-4">
                            <select class="form-control" formControlName="gender"
                                [class.is-invalid]="gender?.invalid && (gender?.touched || gender?.dirty)"
                                [class.is-valid]="gender?.valid && (gender?.touched || gender?.dirty)">
                                <option value='' selected>Select Gender</option>
                                <option *ngFor="let p of genderDD" [value]="p.key">{{ p.label }}</option>
                            </select>
                            <span class="form-text text-muted">Please select Gender</span>
                            <span class="invalid-feedback"
                                *ngIf="gender?.invalid && (gender?.touched || gender?.dirty)">
                                {{ getErrorMessage('gender') }}
                            </span>
                        </div>

                        <label class="col-lg-2 col-form-label required">Religion:</label>
                        <div class="col-lg-4">
                            <select class="form-control" formControlName="religion"
                                [class.is-invalid]="religion?.invalid && (religion?.touched || religion?.dirty)"
                                [class.is-valid]="religion?.valid && (religion?.touched || religion?.dirty)">
                                <option value='' selected>Select Religion</option>
                                <option *ngFor="let p of religionDD" [value]="p.key">{{ p.label }}</option>
                            </select>
                            <span class="form-text text-muted">Please select Religion</span>
                            <span class="invalid-feedback"
                                *ngIf="religion?.invalid && (religion?.touched || religion?.dirty)">
                                {{ getErrorMessage('religion') }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row form-group-marginless kt-margin-t-20">
                        <label class="col-lg-2 col-form-label">Blood Group:</label>
                        <div class="col-lg-4">
                            <select class="form-control" formControlName="bloodGroup">
                                <option value='' selected>Select Blood Group</option>
                                <option *ngFor="let p of bloodGroupDD" [value]="p.key">{{ p.label }}</option>
                            </select>
                            <span class="form-text text-muted">Please select Blood Group</span>
                        </div>

                        <label class="col-lg-2 col-form-label required">Nationality:</label>
                        <div class="col-lg-4">
                            <select class="form-control" formControlName="nationality"
                                [class.is-invalid]="nationality?.invalid && (nationality?.touched || nationality?.dirty)"
                                [class.is-valid]="nationality?.valid && (nationality?.touched || nationality?.dirty)">
                                <option value='' selected>Select Nationality</option>
                                <option *ngFor="let p of nationalityDD" [value]="p.key">{{ p.label }}</option>
                            </select>
                            <span class="form-text text-muted">Please select Nationality</span>
                            <span class="invalid-feedback"
                                *ngIf="nationality?.invalid && (nationality?.touched || nationality?.dirty)">
                                {{ getErrorMessage('nationality') }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row form-group-marginless kt-margin-t-20">
                        <label class="col-lg-2 col-form-label">Address:</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" formControlName="address" rows="2" placeholder="Residential Address"></textarea>
                            <span class="form-text text-muted">Please enter complete residential address</span>
                        </div>
                    </div>


                    <div class="kt-portlet__foot mt-3">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-7">
                                    <button type="submit" class="btn btn-dark mr-2" [disabled]="createForm.invalid">
                                        Update Profile
                                    </button>
                                    <button type="button" class="btn btn-danger" (click)="toggleStudentForm()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-loader *ngIf="isLoading" [message]="loadingMessage" [fullScreen]="true"></app-loader>