<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-dark flaticon-squares"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				Salary Structure Component Listing
			</h3>
		</div>
		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-6" *ngFor="let structure of salaryStructureDetails; let i = index">
			<div class="kt-portlet kt-portlet--height-fluid">
				<!-- Header -->
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">
							{{ structure.employeeTypeName }}
						</h3>
					</div>
					<div class="kt-portlet__head-toolbar">
						<div class="kt-portlet__head-wrapper">
							<div class="kt-portlet__head-actions">

								<a href="#" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle"
									data-toggle="dropdown">
									Actions
								</a>
								<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

									<!--begin::Nav-->
									<ul class="kt-nav">
										<!-- <li class="kt-nav__head">
											Export Options
											<span data-toggle="kt-tooltip" data-placement="right" title=""
												data-original-title="Click to learn more...">
												<svg xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
													height="24px" viewBox="0 0 24 24" version="1.1"
													class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect id="bound" x="0" y="0" width="24" height="24"></rect>
														<circle id="Oval-5" fill="#000000" opacity="0.3" cx="12" cy="12"
															r="10"></circle>
														<rect id="Rectangle-9" fill="#000000" x="11" y="10" width="2"
															height="7" rx="1"></rect>
														<rect id="Rectangle-9-Copy" fill="#000000" x="11" y="7"
															width="2" height="2" rx="1"></rect>
													</g>
												</svg> </span>
										</li>
										<li class="kt-nav__separator"></li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon flaticon2-drop"></i>
												<span class="kt-nav__link-text">Activity</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon flaticon2-calendar-8"></i>
												<span class="kt-nav__link-text">FAQ</span>
											</a>
										</li> -->
										<li class="kt-nav__item">
											<a class="kt-nav__link">
												<i class="kt-nav__link-icon flaticon2-link"></i>
												<span class="kt-nav__link-text" (click)="editDetails(structure,$event)">Update</span>
											</a>
										</li>
										<!-- <li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon flaticon2-new-email"></i>
												<span class="kt-nav__link-text">Support</span>
												<span class="kt-nav__link-badge">
													<span class="kt-badge kt-badge--success kt-badge--rounded">5</span>
												</span>
											</a>
										</li>
										<li class="kt-nav__separator"></li>
										<li class="kt-nav__foot">
											<a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade plan</a>
											<a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip"
												data-placement="right" title=""
												data-original-title="Click to learn more...">Learn more</a>
										</li> -->
									</ul>

									<!--end::Nav-->
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Body -->
				<div class="kt-portlet__body">
					<!-- Base salary info -->
					<div class="mb-3">
						<strong>Base Salary:</strong>
						{{ structure.baseSalary | number }}
						<br />
						<strong>Effective From:</strong>
						{{ structure.effectiveFrom | date }}
					</div>

					<!-- Components -->
					<div class="kt-widget4" *ngIf="structure.components.length > 0; else noComponents">
						<div class="kt-widget4__item" *ngFor="let comp of structure.components">
							<div class="kt-widget4__info">
								<a href="#" class="kt-widget4__title">
									{{ comp.componentName }}
								</a>
								<span class="kt-widget4__sub">
									{{ comp.componentType }}
									•
									{{ comp.isPercentage ? 'Percentage' : 'Fixed' }}
								</span>
							</div>

							<div class="kt-widget4__tools">
								<span>
									{{ comp.value }}{{ comp.isPercentage ? '%' : '' }}
								</span>
							</div>
						</div>
					</div>

					<!-- No components -->
					<ng-template #noComponents>
						<div class="text-muted text-center">
							No salary components defined
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>


	<!--begin:: Widgets/New Users-->

	<!--end:: Widgets/New Users-->

</div>