<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-3 shadow">
      <!-- Header -->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title container text-center">
          {{ salary.id ? 'Edit Salary' : 'Add New Salary' }}
        </h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form>
            <div class="container text-left">
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Employee</label>
                        <select class="form-select" [(ngModel)]="salary.empId" name="employee">
                            <option [ngValue]="null">-- Select --</option>
                            <option *ngFor="let e of employee" [value]="e.id">{{ e.firstName }} {{ e.lastName }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Year</label>
                        <input 
                            type="email" 
                            class="form-control"
                            [(ngModel)]="salary.year"
                            name="year"
                            placeholder="Enter Year">
                    </div>
                    <div class="col">
                        <label class="form-label">Month</label>
                        <div class="position-relative">
                            <input
                            type="text"
                            class="form-control"
                            id="employeeroleid"
                            [(ngModel)]="salary.month"
                            name="month"
                            placeholder="Enter Month">
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Amount</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="salary.amount"
                            name="amount"
                            placeholder="Enter Amount">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Status</label>
                        <select class="form-select" [(ngModel)]="salary.status" name="status">
                            <option [ngValue]="null">-- Select --</option>
                            <option >Paid</option>
                            <option >Pending</option>
                            <option >Conflict</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Paid Date</label>
                        <input 
                            type="date" 
                            class="form-control"
                            
                            name="paidDate"
                            placeholder="Enter status">
                    </div>
                </div>
            </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">
          {{ salary.id ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Optional backdrop -->
<div class="modal-backdrop fade show"></div>
