<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-dark flaticon-squares"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Concession Component Details
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">

            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-widget kt-widget--user-profile-3">
            <div class="kt-widget__top">
                <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-bolder kt-font-light">
                    {{getInitials(resourceData?.name)}}
                </div>
                <div class="kt-widget__content">
                    <div class="kt-widget__head">
                        <div class="kt-widget__user">
                            <a href="#" class="kt-widget__username">
                                Component Name: {{resourceData?.name}}
                            </a>
                            <span class=" ml-2 kt-badge kt-badge--bolder kt-badge kt-badge--inline"
                                [ngClass]="resourceData?.isActive ? 'kt-badge--unified-success' : 'kt-badge--unified-danger'">{{resourceData?.isActive
                                ? 'Active' : 'Inactive'}}</span>
                        </div>
                    </div>
                    <div class="kt-widget__subhead row">
                        <div class="col-6">
                            <a> <b>Component Code :</b> {{resourceData?.code}}</a>
                        </div>

                        <div class="col-6">
                            <a><b>Concession Type : </b>{{resourceData?.discountType?.name}}</a>
                        </div>

                    </div>
                    <div class="kt-widget__subhead row">

                        <div class="col-6">
                            <a> <b>Charge Type</b> {{resourceData?.discountType?.chargeType}}</a>
                        </div>
                        <div class="col-4">
                            <a> <b>Recurrence Rule: </b> {{resourceData?.discountType?.recurrenceRule}}</a>
                        </div>
                    </div>

                    <div class="kt-widget__info">
                        <div class="kt-widget__desc">
                            <b>Description: {{resourceData?.description}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>