<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

    <!--Begin:: App Aside Mobile Toggle-->
    <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
        <i class="la la-close"></i>
    </button>

    <!--End:: App Aside Mobile Toggle-->

    <!--Begin:: App Aside-->
    <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside" style="opacity: 1;">

        <!--begin:: Widgets/Applications/User/Profile1-->
        <div class="kt-portlet kt-portlet--height-fluid-">
            <div class="kt-portlet__head  kt-portlet__head--noborder">
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit-y">

                <!--begin::Widget -->
                <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                        <!-- <div class="kt-widget__media">
                            <img src="./assets/media/users/100_1.jpg" alt="image">
                        </div> -->
                        <div class="kt-widget__content" style="padding-left: 0;">
                            <div class="kt-widget__section">
                                <a class="kt-widget__username">
                                    {{studentData?.fullName}}
                                    <i
                                        [ngClass]="studentData?.isActive ? 'flaticon2-correct kt-font-success' : 'flaticon2-close-cross kt-font-danger'"></i>
                                </a>
                                <span class="kt-widget__subtitle">

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget__body">
                        <div class="kt-widget__content">
                            <div class="kt-widget__info">
                                <span class="kt-widget__label">Email:</span>
                                <a class="kt-widget__data">{{studentData?.email}}</a>
                            </div>
                            <div class="kt-widget__info">
                                <span class="kt-widget__label">Phone:</span>
                                <a href="#" class="kt-widget__data">{{studentData?.phone}}</a>
                            </div>
                        </div>
                        <div class="kt-widget__items">
                            <div class="kt-widget__items">
                                <app-profile-side-widget-tab *ngFor="let tab of tabs" [label]="tab.label"
                                    [iconSvg]="tab.iconSvg" [tabKey]="tab.key" [activeTab]="activeTab"
                                    (tabSelected)="setActiveTab($event)">
                                </app-profile-side-widget-tab>
                            </div>

                        </div>
                    </div>
                </div>

                <!--end::Widget -->
            </div>
        </div>

        <!--end:: Widgets/Applications/User/Profile1-->
    </div>

    <!--End:: App Aside-->

    <!--Begin:: App Content-->
    <!-- Overview -->

    <!-- Personal Info -->
    <div *ngIf="activeTab === 'personal'" class="tab-content full-width-tab">
        <!-- Your personal info content -->
        <app-student-profile-detail [studentId]="studentId" (studentDataChange)="onStudentDataReceived($event)"></app-student-profile-detail>     
    </div>


    <!-- feeSummary -->

    <div *ngIf="activeTab === 'feeSummary'" class="tab-content full-width-tab" style="margin-left: 10px;">
        <app-student-fee-summary [studentId]="studentId"></app-student-fee-summary>
    </div>

    <div *ngIf="activeTab === 'academic_details'" class="tab-content full-width-tab" style="margin-left: 10px;">
        <app-student-academic-detail [studentId]="studentId"></app-student-academic-detail>
    </div>

    <div *ngIf="activeTab === 'guardian'" class="tab-content full-width-tab" style="margin-left: 10px;">
        <app-student-guardian-detail [studentId]="studentId"></app-student-guardian-detail>
    </div>

    <!-- documents -->
    <div *ngIf="activeTab === 'documents'" class="tab-content full-width-tab" style="margin-left: 10px;">
        <app-student-documents [studentId]="studentId"></app-student-documents>
    </div>
    <!--End:: App Content-->
</div>