<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-l modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-3 shadow">
      <!-- Header -->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title container text-center">
          {{  inventory.id ? 'Edit Inventory' : 'Add New Inventory' }}
        </h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form>
            <div class="container text-left">
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Name</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="inventory.itemName"
                            name="name"
                            placeholder="Enter Name">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Campus</label>
                        <select class="form-select" [(ngModel)]="inventory.campusId" name="campus">
                            <option [ngValue]="undefined">-- Select --</option>
                            <option *ngFor="let c of campus" [ngValue]="c.id">{{ c.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Quantity</label>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="inventory.quantity"
                            name="quantity"
                            placeholder="Enter Quantity">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Status</label>
                        <select class="form-select" [(ngModel)]="inventory.status" name="status">
                            <option [ngValue]="undefined">-- Select --</option>
                            <option >Available</option>
                            <option >In_Use</option>
                            <option >Damaged</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">
          {{ inventory.id ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Optional backdrop -->
<div class="modal-backdrop fade show"></div>
