<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-dark flaticon-squares"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Fee Recurrence Rule Details
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-widget kt-widget--user-profile-3">
            <div class="kt-widget__top">
                <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-bolder kt-font-light">
                    {{ getInitials(ruleData?.name) }}
                </div>
                <div class="kt-widget__content">
                    <div class="kt-widget__head">
                        <div class="kt-widget__user">
                            <a href="javascript:void(0)" class="kt-widget__username">
                                {{ruleData?.name}}
                            </a>
                            <span class=" ml-2 kt-badge kt-badge--bolder kt-badge kt-badge--inline"
                                [ngClass]="ruleData?.isActive ? 'kt-badge--unified-success' : 'kt-badge--unified-danger'">
                                {{ruleData?.isActive ? 'Active' : 'Inactive'}}
                            </span>
                        </div>
                    </div>
                    <div class="kt-widget__subhead row">
                        <div class="col-4">
                            <a> <b>Rule Code :</b> {{ruleData?.code}}</a>
                        </div>
                    </div>
                    <div class="kt-widget__info">
                        <div class="kt-widget__desc">
                            <i style="font-size: 1.5rem !important;" class="flaticon-placeholder-3 mr-2"></i>
                            <b>{{ruleData?.description}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>