<div class="card shadow-sm">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Employee Attendance</h5>
    <input 
      type="text" 
      class="form-control w-25" 
      placeholder="Search..."
      [(ngModel)]="searchTerm"
      (input)="applyFilter()" />
      <button type="button" class="btn btn-sm btn-success me-2" (click)="onAdd()">ADD</button>
  </div>

  <div class="card-body p-0">
    <table class="table table-striped table-hover mb-0">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col" (click)="sortData('empId')" style="cursor: pointer">
            EMP ID <span *ngIf="sortColumn === 'empId'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th scope="col" (click)="sortData('id')" style="cursor: pointer">
            Date <span *ngIf="sortColumn === 'id'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th scope="col">Status</th>
          <th scope="col" >Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendance of filteredList; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{ attendance.id }}</td>
          <td>{{ attendance.empId }}</td>
          <td>{{ attendance.attendanceDate}}</td>
          <td>{{ attendance.status }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" (click)="onEdit( attendance, i)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="onDelete( attendance, i)" >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
