<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {{ isEditMode ? 'Update Action Details' : 'Add New Action' }}
            </h3>
        </div>
    </div>

    <!--begin::Form-->
    <form class="kt-form kt-form--label-right" [formGroup]="actionForm" (ngSubmit)="onSubmit()">
        <div class="kt-portlet__body">
            <h4>Action Information</h4>
            <div class="form-group row form-group-marginless kt-margin-t-20">
                <label class="col-lg-1 col-form-label required">Action Code:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" formControlName="code" placeholder="e.g., READ"
                        [class.is-invalid]="code?.invalid && (code?.touched || code?.dirty)"
                        [class.is-valid]="code?.valid && (code?.touched || code?.dirty)"
                        [attr.disabled]="isEditMode ? true : null">
                    <span class="form-text text-muted">Unique code for the action</span>
                    <span class="invalid-feedback" *ngIf="code?.invalid && (code?.touched || code?.dirty)">
                        {{ getErrorMessage('code') }}
                    </span>
                </div>

                <label class="col-lg-1 col-form-label required">Action Name:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" formControlName="name" placeholder="e.g., Read"
                        [class.is-invalid]="name?.invalid && (name?.touched || name?.dirty)"
                        [class.is-valid]="name?.valid && (name?.touched || name?.dirty)">
                    <span class="form-text text-muted">Display name for the action</span>
                    <span class="invalid-feedback" *ngIf="name?.invalid && (name?.touched || name?.dirty)">
                        {{ getErrorMessage('name') }}
                    </span>
                </div>

                <label class="col-lg-1 col-form-label">Status:</label>
                <div class="col-lg-3">
                    <label class="kt-checkbox kt-margin-t-10">
                        <input type="checkbox" formControlName="active"> Is Active
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="form-group row form-group-marginless kt-margin-t-20">
                <label class="col-lg-1 col-form-label">Description:</label>
                <div class="col-lg-11">
                    <textarea class="form-control" formControlName="description" rows="3"
                        placeholder="Enter action description"
                        [class.is-invalid]="description?.invalid && (description?.touched || description?.dirty)"
                        [class.is-valid]="description?.valid && (description?.touched || description?.dirty)"></textarea>
                    <span class="form-text text-muted">Provide a brief description of the action</span>
                    <span class="invalid-feedback"
                        *ngIf="description?.invalid && (description?.touched || description?.dirty)">
                        {{ getErrorMessage('description') }}
                    </span>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-7">
                        <button type="submit" class="btn btn-dark mr-2">
                            {{ isEditMode ? 'Update Action Details' : 'Add New Action' }}
                        </button>
                        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>