<!--begin::Signin-->
<div class="kt-login__form">
    <div class="kt-login__title">
        <h3>Sign In</h3>
    </div>


    <app-login-form></app-login-form>

    <!--begin::Divider-->
    <!-- <div class="kt-login__divider">
                            <div class="kt-divider">
                                <span></span>
                                <span>OR</span>
                                <span></span>
                            </div>
                        </div> -->

    <!--end::Divider-->

    <!--begin::Options-->
    <!-- <div class="kt-login__options">
                            <a href="#" class="btn btn-primary kt-btn">
                                <i class="fab fa-facebook-f"></i>
                                Facebook
                            </a>
                            <a href="#" class="btn btn-info kt-btn">
                                <i class="fab fa-twitter"></i>
                                Twitter
                            </a>
                            <a href="#" class="btn btn-danger kt-btn">
                                <i class="fab fa-google"></i>
                                Google
                            </a>
                        </div> -->

    <!--end::Options-->
</div>

<!--end::Signin-->