<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-3 shadow">
      <!-- Header -->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">
          {{ user.id ? 'Edit User' : 'Add New User' }}
        </h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form>
            <div class="container text-left">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Email</label>
                        <input 
                            type="email" 
                            class="form-control"
                            [(ngModel)]="user.email"
                            name="email"
                            placeholder="Enter email">
                    </div>
                    <div class="col">
                        <label class="form-label">Password</label>
                        <div class="position-relative">
                            <input
                            type="password"
                            class="form-control pe-5" 
                            id="passwordInput"
                            [(ngModel)]="user.password"
                            name="password"
                            placeholder="Enter password">
                            <i
                            class="bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3"
                            style="cursor: pointer; color: black;"
                            onclick="
                                const input = this.previousElementSibling;
                                input.type = input.type === 'password' ? 'text' : 'password';
                                this.classList.toggle('bi-eye');
                                this.classList.toggle('bi-eye-slash');">
                            </i>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Role</label>
                        <select class="form-select" [(ngModel)]="user.roleId" name="roleId">
                            <option [ngValue]="undefined">-- Select --</option>
                            <option *ngFor="let role of userRoles" [ngValue]="role.id">{{ role.roleName }}</option>
                        </select>
                    </div> 
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Campus</label>
                        <select class="form-select" [(ngModel)]="user.cmpId" name="campus">
                            <option [ngValue]="undefined">-- Select --</option>
                            <option *ngFor="let c of campus" [ngValue]="c.id">{{ c.name }}</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Employee</label>
                        <select class="form-select" [(ngModel)]="user.empId" name="employee">
                            <option [ngValue]="undefined">-- Select --</option>
                            <option *ngFor="let e of employee" [ngValue]="e.id">{{ e.firstName}} {{e.lastName }}</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Enabeled</label>
                        <select 
                            class="form-select" 
                            [(ngModel)]="user.enabled" 
                            name="enabled">
                            <option [ngValue]= "undefined">-- Select --</option>
                            <option [ngValue]=true>Yes</option>
                            <option [ngValue]=false>No</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">
          {{ user.id ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Optional backdrop -->
<div class="modal-backdrop fade show"></div>
