<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{isEditMode===true? 'Update Fee Catalog Component Details': "Add New Fee Catalog Component"}}
      </h3>
    </div>
  </div>


  <!--begin::Form-->
  <form class="kt-form kt-form--label-right" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="kt-portlet__body">
      <h4>Fee Catalog Component Information</h4>

      <div class="form-group row form-group-marginless kt-margin-t-20">
        <label class="col-lg-1 col-form-label">Fee Catalog:</label>
        <div class="col-lg-3">
          <select class="form-control" formControlName="feeCatalogId"
            [class.is-invalid]="feeCatalogId?.invalid && (feeCatalogId?.touched || feeCatalogId?.dirty)"
            [class.is-valid]="feeCatalogId?.valid && (feeCatalogId?.touched || feeCatalogId?.dirty)">
            <option value='' selected>Select Fee Catalog</option>
            @for (p of feeCatalogDD; track p.id) {
            <option [value]="p.id">{{ p.name }}</option>
            }
          </select>
          <span class="form-text text-muted">Please select Fee Catalog</span>
          <span class="invalid-feedback" *ngIf="feeCatalogId?.errors?.['required']">
            Fee Catalog is required
          </span>
        </div>

        <label class="col-lg-1 col-form-label">Component Name:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="" formControlName="componentName"
            [class.is-invalid]="componentName?.invalid && (componentName?.touched || componentName?.dirty)"
            [class.is-valid]="componentName?.valid && (componentName?.touched || componentName?.dirty)">
          <span class="form-text text-muted">Please enter your Component name</span>
          <span class="invalid-feedback" *ngIf="componentName?.errors?.['required']">
            Component Name is required
          </span>
        </div>

        <label class="col-lg-1 col-form-label">Component Code:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Component Code" formControlName="componentCode">
        </div>
      </div>


      <div class="form-group row form-group-marginless kt-margin-t-20">
        <label class="col-lg-1 col-form-label">Status:</label>
        <div class="col-lg-3">
          <label class="kt-checkbox kt-margin-t-10">
            <input type="checkbox" formControlName="active"> Is Active
            <span></span>
          </label>
        </div>

      </div>
      <div class="form-group row kt-margin-t-40">
        <label class="col-lg-1 col-form-label">Description:</label>
        <div class="col-lg-11">
          <div class="kt-input-icon">
            <textarea class="form-control" id="exampleTextarea" rows="3" formControlName="description"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-7">
            <button type="submit" class="btn btn-dark mr-2">
              {{isEditMode===true? 'Update Fee Camponent Details': "Add Fee Camponent"}}
            </button>
            <button type="button" class="btn btn-secondary" (click)="goToSectionsList()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!--end::Form-->
</div>