<div class="kt-subheader  kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">Manage Departments</h3>
      <span class="kt-subheader__separator kt-subheader__separator--v"></span>

      <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
        <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
        <span class="kt-input-icon__icon kt-input-icon__icon--right">
          <span><i class="flaticon2-search-1"></i></span>
        </span>
      </div>
    </div>
    <div class="kt-subheader__toolbar">
      <div class="kt-subheader__wrapper">
        <button type="button" class="btn btn-dark active" (click)="goToCreateDepartments()">
          <i class="la la-plus"></i>
          Add New Departments</button>
      </div>
    </div>
  </div>
</div>



<!-- <app-department-listing-table></app-department-listing-table> -->
<div class="kt-portlet kt-portlet--solid-warning kt-portletk-portlet--height-fluid" style="background-image: url(./assets/media/bg/bg-9.jpg);  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        Company
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <a href="#" class="btn btn-clean btn-sm btn-bold" data-toggle="dropdown">
        <i class="flaticon2-gear"></i> Export
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">

        <!--begin::Nav-->
        <ul class="kt-nav">
          <li class="kt-nav__head">
            Company Settings
            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title=""
              data-original-title="Click to learn more..."></i>
          </li>
          <li class="kt-nav__separator"></li>
          <li class="kt-nav__item">
            <a href="#" class="kt-nav__link">
              <i class="kt-nav__link-icon flaticon2-drop"></i>
              <span class="kt-nav__link-text">Update Details</span>
            </a>
          </li>
          <li class="kt-nav__item">
            <a href="#" class="kt-nav__link">
              <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
              <span class="kt-nav__link-text">New Staff</span>
            </a>
          </li>
          <li class="kt-nav__item">
            <a href="#" class="kt-nav__link">
              <i class="kt-nav__link-icon flaticon2-link"></i>
              <span class="kt-nav__link-text">New Owner</span>
            </a>
          </li>
          <li class="kt-nav__item">
            <a href="#" class="kt-nav__link">
              <i class="kt-nav__link-icon flaticon2-new-email"></i>
              <span class="kt-nav__link-text">Reports</span>
              <span class="kt-nav__link-badge">
                <span class="kt-badge kt-badge--success">5</span>
              </span>
            </a>
          </li>
          <li class="kt-nav__separator"></li>
          <li class="kt-nav__foot">
            <a class="btn btn-label-danger btn-bold btn-sm" href="#">Manage company</a>
            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title=""
              data-original-title="Click to learn more...">Learn more</a>
          </li>
        </ul>

        <!--end::Nav-->
      </div>
    </div>
  </div>
  <div class="kt-form kt-form--label-right">
    <div class="kt-portlet__body">
      <div class="form-group form-group-xs row">
        <label class="col-2 col-form-label">Name:</label>
        <div class="col-10">
          <span class="form-control-plaintext kt-font-bolder">Loop Inc.</span>
        </div>
      </div>
      <div class="form-group form-group-xs row">
        <label class="col-2 col-form-label">Location:</label>
        <div class="col-10">
          <span class="form-control-plaintext kt-font-bolder">London, UK.</span>
        </div>
      </div>
      <div class="form-group form-group-xs row">
        <label class="col-2 col-form-label">Revenue:</label>
        <div class="col-10">
          <span class="form-control-plaintext"><span class="kt-font-bolder">345,000M</span> &nbsp;<span
              class="kt-badge kt-badge--inline kt-badge--danger kt-badge--bold">Q4, 2019</span></span>
        </div>
      </div>
      <div class="form-group form-group-xs row">
        <label class="col-2 col-form-label">Phone:</label>
        <div class="col-10">
          <span class="form-control-plaintext kt-font-bolder">+456 7890456</span>
        </div>
      </div>
      <div class="form-group form-group-xs row">
        <label class="col-2 col-form-label">Email:</label>
        <div class="col-10">
          <span class="form-control-plaintext kt-font-bolder">
            <a href="#">infoloop.com</a>
          </span>
        </div>
      </div>
      <div class="form-group form-group-xs row">
        <label class="col-2 col-form-label">Website:</label>
        <div class="col-10">
          <span class="form-control-plaintext kt-font-bolder">
            <a href="#">www.loop.com</a>
          </span>
        </div>
      </div>
      <div class="form-group form-group-xs row">
        <label class="col-2 col-form-label">Contact Person:</label>
        <div class="col-10">
          <span class="form-control-plaintext kt-font-bolder">
            <a href="#">Nick Bold</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>