<app-toaster #toaster></app-toaster>
<app-loader *ngIf="loading" type="pulse" size="lg" color="primary" message="Loading..." [overlay]="true"
    [fullScreen]="true" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999;">
</app-loader>

<app-delete-popup [show]="isDeletePopupOpen" title="Delete Assessment Type"
    message="Are you sure you want to delete this assessment type? This action cannot be undone."
    (confirm)="onConfirmDelete()" (cancel)="onCancelDelete()">
</app-delete-popup>

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-dark flaticon-squares"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Assessment Type Listing
            </h3>
        </div>
    </div>

    <div class="kt-portlet__body">
        <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length">
                        <label>Show
                            <select (change)="onPageSizeChange($event)"
                                class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> entries</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                        <label>Search:
                            <input [formControl]="searchControl" type="search" class="form-control form-control-sm"
                                placeholder="Search assessment types...">
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table *ngIf="assessmentTypes.length > 0; else noDataAlert"
                        class="table table-striped table-bordered table-hover table-checkable">
                        <thead>
                            <tr role="row">
                                <th>Name</th>
                                <th>Code</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let type of pagination.paginatedItems">
                                <td>{{ type.name }}</td>
                                <td>{{ type.code }}</td>
                                <td>
                                    <span
                                        [class]="type.active ? 'kt-badge kt-badge--success kt-badge--inline' : 'kt-badge kt-badge--danger kt-badge--inline'">
                                        {{ type.active ? 'Active' : 'Inactive' }}
                                    </span>
                                </td>
                                <td nowrap>
                                    <button (click)="editAssessmentType(type.id)"
                                        class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edit">
                                        <i class="la la-edit"></i>
                                    </button>
                                    <button (click)="deleteAssessmentType($event, type.id)"
                                        class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Delete">
                                        <i class="la la-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #noDataAlert>
                        <div class="alert alert-dark" role="alert" *ngIf="!loading">
                            <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                            <div class="alert-text">No assessment types found</div>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="row" *ngIf="assessmentTypes.length > 0">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Showing {{ pagination.startItem }} to {{ pagination.endItem }} of {{
                        pagination.totalItems }} entries</div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_full_numbers">
                        <ul class="pagination">
                            <li class="paginate_button page-item first" [class.disabled]="pagination.pageIndex === 0">
                                <a class="page-link" (click)="pagination.first()"><i
                                        class="la la-angle-double-left"></i></a>
                            </li>
                            <li class="paginate_button page-item previous"
                                [class.disabled]="pagination.pageIndex === 0">
                                <a class="page-link" (click)="pagination.prev()"><i class="la la-angle-left"></i></a>
                            </li>
                            <li class="paginate_button page-item" *ngFor="let page of pagination.visiblePages"
                                [class.active]="pagination.pageIndex === page">
                                <a class="page-link" (click)="pagination.goToPage(page)">{{ page + 1 }}</a>
                            </li>
                            <li class="paginate_button page-item next"
                                [class.disabled]="pagination.pageIndex >= pagination.totalPages - 1">
                                <a class="page-link" (click)="pagination.next()"><i class="la la-angle-right"></i></a>
                            </li>
                            <li class="paginate_button page-item last"
                                [class.disabled]="pagination.pageIndex >= pagination.totalPages - 1">
                                <a class="page-link" (click)="pagination.last()"><i
                                        class="la la-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>