            <!--begin::Aside-->
            <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
                style="background-image: url('assets/media/bg/bg-2.jpg'); height: 100%;">
                <!-- <div class="kt-grid__item">
                    <a href="#" class="kt-login__logo">
                        <img src="./assets/media/logos/logo-4.png">
                    </a>
                </div> -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">
                        <h3 class="kt-login__title">Welcome to SMS</h3>
                        <h4 class="kt-login__subtitle">Where smart decisions begin.Powered by AI— sign in to your system.</h4>
                    </div>
                </div>
                <div class="kt-grid__item">
                    <div class="kt-login__info">
                        <!-- <div class="kt-login__copyright">
                            &copy 2025
                        </div> -->
                        <div class="kt-login__menu">
                            <!-- <a href="#" class="kt-link">Privacy</a>
                            <a href="#" class="kt-link">Legal</a>
                            <a href="#" class="kt-link">Contact</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <!--begin::Aside-->
