<app-toaster #toaster></app-toaster>
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{ isEditMode ? 'Update Section Details' : 'Add New Section' }}
      </h3>
    </div>
  </div>

  <!--begin::Form-->
  <form class="kt-form kt-form--label-right" [formGroup]="createSectionForm" (ngSubmit)="onSubmit()">
    <div class="kt-portlet__body">
      <h4>Section Information</h4>

      <!-- Campus & Standard & Section Name -->
      <div class="form-group row form-group-marginless kt-margin-t-20">

        <!-- Campus -->
        <label class="col-lg-1 col-form-label required">Campus:</label>
        <div class="col-lg-3">
          <select class="form-control" formControlName="campusId"
            [class.is-invalid]="campusId?.invalid && (campusId?.touched || campusId?.dirty)"
            [class.is-valid]="campusId?.valid && (campusId?.touched || campusId?.dirty)">
            <option value='' selected>Select Campus</option>
            <option *ngFor="let p of campuses" [value]="p.id">{{ p.campusName }}</option>
          </select>
          <span class="form-text text-muted">Please select Campus</span>
          <span class="invalid-feedback" *ngIf="campusId?.invalid && (campusId?.touched || campusId?.dirty)">
            {{ getErrorMessage('campusId') }}
          </span>
        </div>

        <!-- Standard -->
        <label class="col-lg-1 col-form-label required">Standard:</label>
        <div class="col-lg-3">
          <select class="form-control" formControlName="standardId"
            [class.is-invalid]="standardId?.invalid && (standardId?.touched || standardId?.dirty)"
            [class.is-valid]="standardId?.valid && (standardId?.touched || standardId?.dirty)">
            <option value='' selected>Select Standard</option>
            <option *ngFor="let s of standardData" [value]="s.id">{{ s.standardName }}</option>
          </select>
          <span class="form-text text-muted">Please select Standard</span>
          <span class="invalid-feedback" *ngIf="standardId?.invalid && (standardId?.touched || standardId?.dirty)">
            {{ getErrorMessage('standardId') }}
          </span>
        </div>

        <!-- Section Name -->
        <label class="col-lg-1 col-form-label required">Section Name:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Enter Section Name" formControlName="sectionName"
            [class.is-invalid]="sectionName?.invalid && (sectionName?.touched || sectionName?.dirty)"
            [class.is-valid]="sectionName?.valid && (sectionName?.touched || sectionName?.dirty)" />
          <span class="form-text text-muted">Provide a unique name for the section (e.g., "A", "Blue").</span>
          <span class="invalid-feedback" *ngIf="sectionName?.invalid && (sectionName?.touched || sectionName?.dirty)">
            {{ getErrorMessage('sectionName') }}
          </span>
        </div>
      </div>

      <!-- Section Code -->
      <div class="form-group row form-group-marginless kt-margin-t-20">
        <label class="col-lg-1 col-form-label required">Section Code:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Enter Section Code" formControlName="sectionCode"
            [class.is-invalid]="sectionCode?.invalid && (sectionCode?.touched || sectionCode?.dirty)"
            [class.is-valid]="sectionCode?.valid && (sectionCode?.touched || sectionCode?.dirty)">
          <span class="form-text text-muted">Short code for the section</span>
          <span class="invalid-feedback" *ngIf="sectionCode?.invalid && (sectionCode?.touched || sectionCode?.dirty)">
            {{ getErrorMessage('sectionCode') }}
          </span>
        </div>
      </div>

      <!-- Description -->
      <div class="form-group row kt-margin-t-40">
        <label class="col-lg-1 col-form-label">Description:</label>
        <div class="col-lg-11">
          <textarea class="form-control" id="sectionDescription" rows="3" placeholder="Enter description"
            formControlName="description"></textarea>
        </div>
      </div>
    </div>

    <!-- Form Actions -->
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-7">
            <button type="submit" class="btn btn-dark mr-2">
              {{ isEditMode ? 'Update Section Details' : 'Add New Section' }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="goToSectionsList()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--end::Form-->
</div>
<app-loader *ngIf="isLoading" [message]="loadingMessage" [fullScreen]="true"></app-loader>