<!-- begin:: Page -->

<style>
  /* Custom scrollbar for the aside menu */
  #kt_aside_menu_wrapper::-webkit-scrollbar {
    width: 8px;
  }

  #kt_aside_menu_wrapper::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 4px;
  }

  #kt_aside_menu_wrapper::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
  }

  #kt_aside_menu_wrapper::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
</style>

<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

    <!-- begin:: Aside -->
    <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
    <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

      <!-- begin:: Aside -->
      <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
        <div class="kt-aside__brand-logo">
          <a routerLink="/dashboard">
            <!-- <img alt="Logo" src="./assets/media/logos/logo-light.png" /> -->
          </a>
        </div>
        <div class="kt-aside__brand-tools">
          <button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler">
            <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                  <path
                    d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z"
                    id="Path-94" fill="#000000" fill-rule="nonzero"
                    transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) " />
                  <path
                    d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z"
                    id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3"
                    transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) " />
                </g>
              </svg></span>
            <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                  <path
                    d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                    id="Path-94" fill="#000000" fill-rule="nonzero" />
                  <path
                    d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                    id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3"
                    transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                </g>
              </svg></span>
          </button>

          <!--
			<button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
			-->
        </div>
      </div>

      <!-- end:: Aside -->

      <!-- begin:: Aside Menu -->
      <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper"
        style="overflow-y: auto; max-height: calc(100vh - 50px);">
        <div id="kt_aside_menu" class="kt-aside-menu" data-ktmenu-vertical="1" data-ktmenu-scroll="1"
          data-ktmenu-dropdown-timeout="500">
          <ul class="kt-menu__nav" style="margin-bottom: 200px; padding-bottom: 100px;">
            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a routerLink="/dashboard"
                class="kt-menu__link "><span class="kt-menu__link-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                    version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <polygon id="Bound" points="0 0 24 0 24 24 0 24" />
                      <path
                        d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                        id="Shape" fill="#000000" fill-rule="nonzero" />
                      <path
                        d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                        id="Path" fill="#000000" opacity="0.3" />
                    </g>
                  </svg></span><span class="kt-menu__link-text">Dashboard</span></a></li>




            <li class="kt-menu__section ">
              <h4 class="kt-menu__section-text">Student Desk</h4>
              <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <polygon id="Bound" points="0 0 24 0 24 24 0 24" />
                      <path
                        d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                        id="Mask" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                      <path
                        d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                        id="Mask-Copy" fill="#000000" fill-rule="nonzero" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Student Operations</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/students" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Student Management</span>
                    </a>
                  </li>
                  <li routerLink="/student-attendance" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Student Attendance</span>
                    </a>
                  </li>
                  <li routerLink="/students/fee-collector" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">PayHub</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="kt-menu__section ">
              <h4 class="kt-menu__section-text">HR & Payroll</h4>
              <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <polygon id="Bound" points="0 0 24 0 24 24 0 24" />
                      <path
                        d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                        id="Mask" fill="#000000" />
                      <rect id="Rectangle-10" fill="#000000" opacity="0.3" x="3" y="13" width="18" height="9" rx="2" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Staff Management</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/employee" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Employees</span>
                    </a>
                  </li>
                  <li routerLink="/employee-attendance" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Employee Attendance</span>
                    </a>
                  </li>
                  <li routerLink="/employee/deductions" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Deductions</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M4,4 L20,4 C21.1045695,4 22,4.8954305 22,6 L22,18 C22,19.1045695 21.1045695,20 20,20 L4,20 C2.8954305,20 2,19.1045695 2,18 L2,6 C2,4.8954305 2.8954305,4 4,4 Z"
                        id="Path-2" fill="#000000" opacity="0.3" />
                      <path
                        d="M18.5,11 C18.5,12.1045695 17.6045695,13 16.5,13 C15.3954305,13 14.5,12.1045695 14.5,11 C14.5,9.8954305 15.3954305,9 16.5,9 C17.6045695,9 18.5,9.8954305 18.5,11 Z"
                        id="Oval" fill="#000000" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Salary Setup</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/salary/structure" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Salary Structure</span>
                    </a>
                  </li>
                  <li routerLink="/salary/component" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Salary Components</span>
                    </a>
                  </li>
                  <li routerLink="/salary/structure/component" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Structure Components</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>


            <li class="kt-menu__section ">
              <h4 class="kt-menu__section-text">Academic Operations</h4>
              <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M5,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,19 C21,20.1045695 20.1045695,21 19,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,5 C3,3.8954305 3.8954305,3 5,3 Z"
                        id="Combined-Shape" fill="#000000" opacity="0.3" />
                      <rect id="Rectangle-10" fill="#000000" x="7" y="7" width="10" height="2" rx="1" />
                      <rect id="Rectangle-10-Copy" fill="#000000" x="7" y="11" width="10" height="2" rx="1" />
                      <rect id="Rectangle-10-Copy-2" fill="#000000" x="7" y="15" width="5" height="2" rx="1" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Academic Management</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/subjects" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Subjects</span>
                    </a>
                  </li>
                  <li routerLink="/subject-groups" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Subject Groups</span>
                    </a>
                  </li>
                  <li routerLink="/academic/timetable" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Timetables</span>
                    </a>
                  </li>
                  <li routerLink="/teacher-assignment" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Teacher Assignments</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="kt-menu__section ">
              <h4 class="kt-menu__section-text">Exam Center</h4>
              <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M5,19 L20,19 C20.5522847,19 21,19.4477153 21,20 C21,20.5522847 20.5522847,21 20,21 L4,21 C3.44771525,21 3,20.5522847 3,20 L3,4 C3,3.44771525 3.44771525,3 4,3 C4.55228475,3 5,3.44771525 5,4 L5,19 Z"
                        id="Path-95" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                      <path
                        d="M8.7295372,14.6839411 C8.35180695,15.0868853 7.71897114,15.1072463 7.31602691,14.7295161 C6.91308268,14.3517858 6.89272174,13.71895 7.27045197,13.3160058 L11.1349156,9.2048939 C11.5127532,8.80295059 12.1455149,8.78297139 12.5476101,9.15998132 L15.540151,11.965243 L18.2813136,8.88901509 C18.6539031,8.47141523 19.2861614,8.43486395 19.7037612,8.8074534 C20.1213611,9.18004285 20.1579123,9.81230121 19.7853229,10.2299011 L16.3268297,14.1110037 C15.9529272,14.5305141 15.3160843,14.5645069 14.9009852,14.187313 L11.9404283,11.5 8.7295372,14.6839411 Z"
                        id="Path-96" fill="#000000" fill-rule="nonzero" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Exam Management</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/exams" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Exams</span>
                    </a>
                  </li>
                  <li routerLink="/exam-subject-management" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Exam Subjects</span>
                    </a>
                  </li>
                  <li routerLink="/student-exam-marks" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Student Marks</span>
                    </a>
                  </li>
                  <li routerLink="/student-exam-attendance" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Exam Attendance</span>
                    </a>
                  </li>
                  <li routerLink="/result-processing" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Results Processing</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z"
                        id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                      <path
                        d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z"
                        id="Combined-Shape-Copy" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                      <rect id="Rectangle-10" fill="#000000" x="7" y="6" width="10" height="2" rx="1" />
                      <rect id="Rectangle-10-Copy" fill="#000000" x="7" y="16" width="10" height="2" rx="1" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Exam Setup</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/academic/exams/types" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Exam Types</span>
                    </a>
                  </li>
                  <li routerLink="/academic/exams/terms" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Exam Terms</span>
                    </a>
                  </li>
                  <li routerLink="/academic/exams/assessment-types" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Assessment Types</span>
                    </a>
                  </li>
                  <li routerLink="/academic/results/grade-scales" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Grade Scales</span>
                    </a>
                  </li>
                  <li routerLink="/exam-weightage-management" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Exam Weightages</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="kt-menu__section ">
              <h4 class="kt-menu__section-text">System Security</h4>
              <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                        id="Combined-Shape" fill="#000000" opacity="0.3" />
                      <path
                        d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z"
                        id="Oval" fill="#000000" opacity="0.3" />
                      <path
                        d="M7.00036205,16.4996272 C7.08801211,15.2863483 8.04603403,14 11.9833413,14 C15.9833413,14 16.912384,15.2863483 16.9996379,16.4996272 C17.0062407,16.5915182 17.0003621,17 16.2466999,17 C12.541124,17 11.0347247,17 7.72750223,17 C7.00036205,17 6.98560377,16.7032462 7.00036205,16.4996272 Z"
                        id="Mask" fill="#000000" opacity="0.3" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Access Control</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/roles" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Roles</span>
                    </a>
                  </li>
                  <li routerLink="/permissions" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Permissions</span>
                    </a>
                  </li>
                  <li routerLink="/modules" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Modules</span>
                    </a>
                  </li>
                  <li routerLink="/resources" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Resources</span>
                    </a>
                  </li>
                  <li routerLink="/actions" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Actions</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="kt-menu__section ">
              <h4 class="kt-menu__section-text">Administration Setup</h4>
              <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M3,5 C3,3.8954305 3.8954305,3 5,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,19 C21,20.1045695 20.1045695,21 19,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,5 Z"
                        id="Combined-Shape" fill="#000000" opacity="0.3" />
                      <path
                        d="M17,12 C17,14.7614237 14.7614237,17 12,17 C9.23857625,17 7,14.7614237 7,12 C7,9.23857625 9.23857625,7 12,7 C14.7614237,7 17,9.23857625 17,12 Z"
                        id="Oval" fill="#000000" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Institute Setup</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/school/profile" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">School Profile</span>
                    </a>
                  </li>
                  <li routerLink="/academic-years" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Academic Years</span>
                    </a>
                  </li>
                  <li routerLink="/campuses" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Campuses</span>
                    </a>
                  </li>
                  <li routerLink="/campuses/standards" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Standards</span>
                    </a>
                  </li>
                  <li routerLink="/campuses/standards/sections" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Sections</span>
                    </a>
                  </li>
                  <li routerLink="/departments" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Departments</span>
                    </a>
                  </li>
                  <li routerLink="/designations" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Designations</span>
                    </a>
                  </li>
                  <li routerLink="/standard-subject-mapping" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Standard Mapping</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 Z M12,20 C16.418278,20 20,16.418278 20,12 C20,7.581722 16.418278,4 12,4 C7.581722,4 4,7.581722 4,12 C4,16.418278 7.581722,20 12,20 Z"
                        id="Combined-Shape" fill="#000000" opacity="0.3" />
                      <path
                        d="M8,12 C8,9.790861 9.790861,8 12,8 C14.209139,8 16,9.790861 16,12 C16,14.209139 14.209139,16 12,16 C9.790861,16 8,14.209139 8,12 Z"
                        id="Oval-2" fill="#000000" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Fee & Concession</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/fee/catalog" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Fee Catalog</span>
                    </a>
                  </li>
                  <li routerLink="/fee/catalog/component" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Fee Components</span>
                    </a>
                  </li>
                  <li routerLink="/fee/catalog/component/rate" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Fee Rates</span>
                    </a>
                  </li>
                  <li routerLink="/concession/catalog" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Concession Catalog</span>
                    </a>
                  </li>
                  <li routerLink="/concession/catalog/component" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Concession Components</span>
                    </a>
                  </li>
                  <li routerLink="/concession/component/rate" class="kt-menu__item" aria-haspopup="true">
                    <a class="kt-menu__link">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                      <span class="kt-menu__link-text">Concession Rates</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <!-- end:: Aside Menu -->
    </div>

    <!-- end:: Aside -->
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

      <!-- begin:: Header -->
      <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

        <!-- begin:: Header Menu -->
        <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
            class="la la-close"></i></button>
        <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">

        </div>

        <!-- end:: Header Menu -->

        <!-- begin:: Header Topbar -->
        <div class="kt-header__topbar">



          <!--begin: Notifications -->
          <div class="kt-header__topbar-item dropdown">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px" aria-expanded="true">
              <span class="kt-header__topbar-icon kt-pulse kt-pulse--brand">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                  height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24" />
                    <path
                      d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
                      id="Combined-Shape" fill="#000000" opacity="0.3" />
                    <path
                      d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
                      id="Combined-Shape" fill="#000000" />
                  </g>
                </svg> <span class="kt-pulse__ring"></span>
              </span>

              <!--
                Use dot badge instead of animated pulse effect: 
                <span class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand"></span>
            -->
            </div>
            <div
              class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
              <form>

                <!--begin: Head -->
                <div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b"
                  style="background-image: url(./assets/media/misc/bg-1.jpg)">
                  <h3 class="kt-head__title">
                    User Notifications
                    &nbsp;
                    <span class="btn btn-success btn-sm btn-bold btn-font-md">23 new</span>
                  </h3>
                  <ul
                    class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x"
                    role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications"
                        role="tab" aria-selected="true">Alerts</a>
                    </li>
                  </ul>
                </div>

                <!--end: Head -->
                <div class="tab-content">
                  <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                    <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true"
                      data-height="300" data-mobile-height="200">

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-user kt-font-success"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            New student has been enrolled
                          </div>
                          <div class="kt-notification__item-time">
                            1 hr ago
                          </div>
                        </div>
                      </a>

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-calendar-8 kt-font-brand"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            Parent-teacher meeting scheduled
                          </div>
                          <div class="kt-notification__item-time">
                            2 hrs ago
                          </div>
                        </div>
                      </a>

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-check-mark kt-font-warning"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            Student fee payment received
                          </div>
                          <div class="kt-notification__item-time">
                            3 hrs ago
                          </div>
                        </div>
                      </a>

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-notepad kt-font-danger"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            New assignment has been uploaded
                          </div>
                          <div class="kt-notification__item-time">
                            4 hrs ago
                          </div>
                        </div>
                      </a>

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-warning kt-font-info"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            Attendance report is ready
                          </div>
                          <div class="kt-notification__item-time">
                            5 hrs ago
                          </div>
                        </div>
                      </a>

                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>

          <!--end: Notifications -->


          <!--begin: User Bar -->
          <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
              <div class="kt-header__topbar-user">
                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                <span class="kt-header__topbar-username kt-hidden-mobile">Sean</span>
                <img class="kt-hidden" alt="Pic" src="./assets/media/users/300_25.jpg" />

                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                <span
                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>
              </div>
            </div>
            <div
              class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

              <!--begin: Head -->
              <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                style="background-image: url(./assets/media/misc/bg-1.jpg)">
                <div class="kt-user-card__avatar">
                  <img class="kt-hidden" alt="Pic" src="./assets/media/users/300_25.jpg" />

                  <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                  <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">S</span>
                </div>
                <div class="kt-user-card__name">
                  Sean Stone
                </div>
                <div class="kt-user-card__badge">
                  <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
                </div>
              </div>

              <!--end: Head -->

              <!--begin: Navigation -->
              <div class="kt-notification">
                <a href="#" class="kt-notification__item">
                  <div class="kt-notification__item-icon">
                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                  </div>
                  <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                      My Profile
                    </div>
                    <div class="kt-notification__item-time">
                      Account settings and more
                    </div>
                  </div>
                </a>
                <a href="#" class="kt-notification__item">
                  <div class="kt-notification__item-icon">
                    <i class="flaticon2-mail kt-font-warning"></i>
                  </div>
                  <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                      My Messages
                    </div>
                    <div class="kt-notification__item-time">
                      Inbox and tasks
                    </div>
                  </div>
                </a>
                <div class="kt-notification__custom kt-space-between">
                  <a (click)="logout()" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
                </div>
              </div>

              <!--end: Navigation -->
            </div>
          </div>

          <!--end: User Bar -->
        </div>

        <!-- end:: Header Topbar -->
      </div>

      <!-- end:: Header -->
      <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

          <!--Begin::Dashboard 1-->
          <router-outlet></router-outlet>
          <!--End::Dashboard 1-->
        </div>

        <!-- end:: Content -->
      </div>

      <!-- begin:: Footer -->
      <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
        <div class="kt-container  kt-container--fluid ">
          <div class="kt-footer__copyright">
            2019&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank"
              class="kt-link">Keenthemes</a>
          </div>
          <div class="kt-footer__menu">
            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">About</a>
            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
          </div>
        </div>
      </div>

      <!-- end:: Footer -->
    </div>
  </div>
</div>

<!-- end:: Page -->