<!-- begin:: Page -->

<style>
  /* Custom scrollbar for the aside menu */
  #kt_aside_menu_wrapper::-webkit-scrollbar {
    width: 8px;
  }
  #kt_aside_menu_wrapper::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 4px;
  }
  #kt_aside_menu_wrapper::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
  }
  #kt_aside_menu_wrapper::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
</style>

<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

    <!-- begin:: Aside -->
    <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
    <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

      <!-- begin:: Aside -->
      <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
        <div class="kt-aside__brand-logo">
          <a routerLink="/dashboard">
            <!-- <img alt="Logo" src="./assets/media/logos/logo-light.png" /> -->
          </a>
        </div>
        <div class="kt-aside__brand-tools">
          <button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler">
            <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                  <path
                    d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z"
                    id="Path-94" fill="#000000" fill-rule="nonzero"
                    transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) " />
                  <path
                    d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z"
                    id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3"
                    transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) " />
                </g>
              </svg></span>
            <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                  <path
                    d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                    id="Path-94" fill="#000000" fill-rule="nonzero" />
                  <path
                    d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                    id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3"
                    transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                </g>
              </svg></span>
          </button>

          <!--
			<button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
			-->
        </div>
      </div>

      <!-- end:: Aside -->

      <!-- begin:: Aside Menu -->
      <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper" style="overflow-y: auto; height: 100%;">
        <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1"
          data-ktmenu-dropdown-timeout="500">
          <ul class="kt-menu__nav ">
            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a routerLink="/dashboard"
                class="kt-menu__link "><span class="kt-menu__link-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                    version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <polygon id="Bound" points="0 0 24 0 24 24 0 24" />
                      <path
                        d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                        id="Shape" fill="#000000" fill-rule="nonzero" />
                      <path
                        d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                        id="Path" fill="#000000" opacity="0.3" />
                    </g>
                  </svg></span><span class="kt-menu__link-text">Dashboard</span></a></li>




            <li class="kt-menu__section ">
              <h4 class="kt-menu__section-text">Essentials</h4>
              <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li routerLink="/students" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true">
              <a class="kt-menu__link">
                <span class="kt-menu__link-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                    version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                        id="Combined-Shape" fill="#000000" opacity="0.3" />
                      <path
                        d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                        id="Rectangle-102-Copy" fill="#000000" />
                    </g>
                  </svg></span><span class="kt-menu__link-text">Student Management</span>
              </a>
            </li>
            <li routerLink="/students/fee-collector" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true">
              <a class="kt-menu__link">
                <span class="kt-menu__link-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                    version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <rect id="Rectangle-2" fill="#000000" opacity="0.3" x="2" y="2" width="10" height="12" rx="2" />
                      <path
                        d="M4,6 L20,6 C21.1045695,6 22,6.8954305 22,8 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,8 C2,6.8954305 2.8954305,6 4,6 Z M18,16 C19.1045695,16 20,15.1045695 20,14 C20,12.8954305 19.1045695,12 18,12 C16.8954305,12 16,12.8954305 16,14 C16,15.1045695 16.8954305,16 18,16 Z"
                        id="Combined-Shape" fill="#000000" />
                    </g>
                  </svg></span><span class="kt-menu__link-text">PayHub</span>
              </a>

            </li>
            <li routerLink="/employee" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true">
              <a class="kt-menu__link">
                <span class="kt-menu__link-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                    version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <rect id="Rectangle-2" fill="#000000" opacity="0.3" x="2" y="2" width="10" height="12" rx="2" />
                      <path
                        d="M4,6 L20,6 C21.1045695,6 22,6.8954305 22,8 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,8 C2,6.8954305 2.8954305,6 4,6 Z M18,16 C19.1045695,16 20,15.1045695 20,14 C20,12.8954305 19.1045695,12 18,12 C16.8954305,12 16,12.8954305 16,14 C16,15.1045695 16.8954305,16 18,16 Z"
                        id="Combined-Shape" fill="#000000" />
                    </g>
                  </svg></span><span class="kt-menu__link-text">Employee Directory</span>
              </a>

            </li>

            <li class="kt-menu__section ">
              <h4 class="kt-menu__section-text">Components</h4>
              <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>

            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z"
                        id="Combined-Shape" fill="#000000" />
                      <path
                        d="M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z"
                        id="Path" fill="#000000" opacity="0.3" />
                    </g>
                  </svg>
                </span>
                <span class="kt-menu__link-text">Base</span>
                <i class="kt-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                    <span class="kt-menu__link">
                      <span class="kt-menu__link-text">Base</span>
                    </span>
                  </li>

                  <li class="kt-menu__item " aria-haspopup="true">
                    <a routerLink="/school/profile" class="kt-menu__link ">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="kt-menu__link-text">School Profile</span>
                    </a>
                  </li>
                  <li class="kt-menu__item " aria-haspopup="true">
                    <a routerLink="/tenants" class="kt-menu__link ">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="kt-menu__link-text">Academic Year</span>
                    </a>
                  </li>
                  <li class="kt-menu__item " aria-haspopup="true">
                    <a routerLink="/campuses" class="kt-menu__link ">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="kt-menu__link-text">Campus Management</span>
                    </a>
                  </li>
                  <li class="kt-menu__item " aria-haspopup="true">
                    <a routerLink="/campuses/standards" class="kt-menu__link ">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="kt-menu__link-text">Standard Management</span>
                    </a>
                  </li>
                  <li class="kt-menu__item " aria-haspopup="true">
                    <a routerLink="/campuses/standards/sections" class="kt-menu__link ">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="kt-menu__link-text">Section Management</span>
                    </a>
                  </li>
                  <li class="kt-menu__item " aria-haspopup="true">
                    <a routerLink="/departments" class="kt-menu__link ">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="kt-menu__link-text">Department Management</span>
                    </a>
                  </li>
                  <li class="kt-menu__item " aria-haspopup="true">
                    <a routerLink="/designations" class="kt-menu__link ">
                      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="kt-menu__link-text">Designation Management</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M3.5,21 L20.5,21 C21.3284271,21 22,20.3284271 22,19.5 L22,8.5 C22,7.67157288 21.3284271,7 20.5,7 L10,7 L7.43933983,4.43933983 C7.15803526,4.15803526 6.77650439,4 6.37867966,4 L3.5,4 C2.67157288,4 2,4.67157288 2,5.5 L2,19.5 C2,20.3284271 2.67157288,21 3.5,21 Z"
                        id="Combined-Shape" fill="#000000" opacity="0.3" />
                      <polygon id="Path" fill="#000000" opacity="0.3" points="4 19 10 11 16 19" />
                      <polygon id="Path-Copy" fill="#000000" points="11 19 15 14 19 19" />
                      <path
                        d="M18,12 C18.8284271,12 19.5,11.3284271 19.5,10.5 C19.5,9.67157288 18.8284271,9 18,9 C17.1715729,9 16.5,9.67157288 16.5,10.5 C16.5,11.3284271 17.1715729,12 18,12 Z"
                        id="Path" fill="#000000" opacity="0.3" />
                    </g>
                  </svg></span><span class="kt-menu__link-text">Fee Setup</span><i
                  class="kt-menu__ver-arrow la la-angle-right"></i></a>
              <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/fee/catalog" class="kt-menu__item " aria-haspopup="true"><a class="kt-menu__link "><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                        class="kt-menu__link-text">Fee Catalog</span></a></li>
                  <li routerLink="/fee/catalog/component" class="kt-menu__item " aria-haspopup="true"><a
                      class="kt-menu__link "><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                        class="kt-menu__link-text">Fee Catalog Component</span></a></li>
                  <li routerLink="/fee/catalog/component/rate" class="kt-menu__item " aria-haspopup="true"><a
                      class="kt-menu__link "><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                        class="kt-menu__link-text">Fee Rate Directory</span></a></li>
                </ul>
              </div>
            </li>

            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
              (click)="handleSubmenuAccordion($event)">
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24" />
                      <path
                        d="M3.5,21 L20.5,21 C21.3284271,21 22,20.3284271 22,19.5 L22,8.5 C22,7.67157288 21.3284271,7 20.5,7 L10,7 L7.43933983,4.43933983 C7.15803526,4.15803526 6.77650439,4 6.37867966,4 L3.5,4 C2.67157288,4 2,4.67157288 2,5.5 L2,19.5 C2,20.3284271 2.67157288,21 3.5,21 Z"
                        id="Combined-Shape" fill="#000000" opacity="0.3" />
                      <polygon id="Path" fill="#000000" opacity="0.3" points="4 19 10 11 16 19" />
                      <polygon id="Path-Copy" fill="#000000" points="11 19 15 14 19 19" />
                      <path
                        d="M18,12 C18.8284271,12 19.5,11.3284271 19.5,10.5 C19.5,9.67157288 18.8284271,9 18,9 C17.1715729,9 16.5,9.67157288 16.5,10.5 C16.5,11.3284271 17.1715729,12 18,12 Z"
                        id="Path" fill="#000000" opacity="0.3" />
                    </g>
                  </svg></span><span class="kt-menu__link-text">Concession & Scholerships</span><i
                  class="kt-menu__ver-arrow la la-angle-right"></i></a>
              <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li routerLink="/concession/catalog" class="kt-menu__item " aria-haspopup="true"><a
                      class="kt-menu__link "><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                        class="kt-menu__link-text">Concession Catalog</span></a></li>
                  <li routerLink="/concession/catalog/component" class="kt-menu__item " aria-haspopup="true"><a
                      class="kt-menu__link "><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                        class="kt-menu__link-text">Concession Catalog Components</span></a></li>
                  <li routerLink="/concession/component/rate" class="kt-menu__item " aria-haspopup="true"><a
                      class="kt-menu__link "><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                        class="kt-menu__link-text">Concession Rate Directory</span></a></li>
                </ul>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <!-- end:: Aside Menu -->
    </div>

    <!-- end:: Aside -->
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

      <!-- begin:: Header -->
      <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

        <!-- begin:: Header Menu -->
        <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
            class="la la-close"></i></button>
        <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">

        </div>

        <!-- end:: Header Menu -->

        <!-- begin:: Header Topbar -->
        <div class="kt-header__topbar">



          <!--begin: Notifications -->
          <div class="kt-header__topbar-item dropdown">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px" aria-expanded="true">
              <span class="kt-header__topbar-icon kt-pulse kt-pulse--brand">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                  height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24" />
                    <path
                      d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
                      id="Combined-Shape" fill="#000000" opacity="0.3" />
                    <path
                      d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
                      id="Combined-Shape" fill="#000000" />
                  </g>
                </svg> <span class="kt-pulse__ring"></span>
              </span>

              <!--
                Use dot badge instead of animated pulse effect: 
                <span class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand"></span>
            -->
            </div>
            <div
              class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
              <form>

                <!--begin: Head -->
                <div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b"
                  style="background-image: url(./assets/media/misc/bg-1.jpg)">
                  <h3 class="kt-head__title">
                    User Notifications
                    &nbsp;
                    <span class="btn btn-success btn-sm btn-bold btn-font-md">23 new</span>
                  </h3>
                  <ul
                    class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x"
                    role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications"
                        role="tab" aria-selected="true">Alerts</a>
                    </li>
                  </ul>
                </div>

                <!--end: Head -->
                <div class="tab-content">
                  <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                    <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true"
                      data-height="300" data-mobile-height="200">

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-user kt-font-success"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            New student has been enrolled
                          </div>
                          <div class="kt-notification__item-time">
                            1 hr ago
                          </div>
                        </div>
                      </a>

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-calendar-8 kt-font-brand"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            Parent-teacher meeting scheduled
                          </div>
                          <div class="kt-notification__item-time">
                            2 hrs ago
                          </div>
                        </div>
                      </a>

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-check-mark kt-font-warning"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            Student fee payment received
                          </div>
                          <div class="kt-notification__item-time">
                            3 hrs ago
                          </div>
                        </div>
                      </a>

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-notepad kt-font-danger"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            New assignment has been uploaded
                          </div>
                          <div class="kt-notification__item-time">
                            4 hrs ago
                          </div>
                        </div>
                      </a>

                      <a href="#" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                          <i class="flaticon2-warning kt-font-info"></i>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            Attendance report is ready
                          </div>
                          <div class="kt-notification__item-time">
                            5 hrs ago
                          </div>
                        </div>
                      </a>

                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>

          <!--end: Notifications -->


          <!--begin: User Bar -->
          <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
              <div class="kt-header__topbar-user">
                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                <span class="kt-header__topbar-username kt-hidden-mobile">Sean</span>
                <img class="kt-hidden" alt="Pic" src="./assets/media/users/300_25.jpg" />

                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                <span
                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>
              </div>
            </div>
            <div
              class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

              <!--begin: Head -->
              <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                style="background-image: url(./assets/media/misc/bg-1.jpg)">
                <div class="kt-user-card__avatar">
                  <img class="kt-hidden" alt="Pic" src="./assets/media/users/300_25.jpg" />

                  <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                  <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">S</span>
                </div>
                <div class="kt-user-card__name">
                  Sean Stone
                </div>
                <div class="kt-user-card__badge">
                  <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
                </div>
              </div>

              <!--end: Head -->

              <!--begin: Navigation -->
              <div class="kt-notification">
                <a href="#" class="kt-notification__item">
                  <div class="kt-notification__item-icon">
                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                  </div>
                  <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                      My Profile
                    </div>
                    <div class="kt-notification__item-time">
                      Account settings and more
                    </div>
                  </div>
                </a>
                <a href="#" class="kt-notification__item">
                  <div class="kt-notification__item-icon">
                    <i class="flaticon2-mail kt-font-warning"></i>
                  </div>
                  <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                      My Messages
                    </div>
                    <div class="kt-notification__item-time">
                      Inbox and tasks
                    </div>
                  </div>
                </a>
                <div class="kt-notification__custom kt-space-between">
                  <a (click)="logout()" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
                </div>
              </div>

              <!--end: Navigation -->
            </div>
          </div>

          <!--end: User Bar -->
        </div>

        <!-- end:: Header Topbar -->
      </div>

      <!-- end:: Header -->
      <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

          <!--Begin::Dashboard 1-->
          <router-outlet></router-outlet>
          <!--End::Dashboard 1-->
        </div>

        <!-- end:: Content -->
      </div>

      <!-- begin:: Footer -->
      <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
        <div class="kt-container  kt-container--fluid ">
          <div class="kt-footer__copyright">
            2019&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank"
              class="kt-link">Keenthemes</a>
          </div>
          <div class="kt-footer__menu">
            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">About</a>
            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
          </div>
        </div>
      </div>

      <!-- end:: Footer -->
    </div>
  </div>
</div>

<!-- end:: Page -->