<div class="card shadow-sm">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Assessments</h5>
    <input 
      type="text" 
      class="form-control w-25" 
      placeholder="Search..."
      [(ngModel)]="searchTerm"
      (input)="applyFilter()" />
      <button type="button" class="btn btn-sm btn-success me-2" (click)="onAdd()">ADD</button>
  </div>

  <div class="card-body p-0">
    <table class="table table-striped table-hover mb-0">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col" (click)="sortData('id')" style="cursor: pointer">
            ID <span *ngIf="sortColumn === 'id'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th scope="col" (click)="sortData('name')" style="cursor: pointer">
            Name <span *ngIf="sortColumn === 'name'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th scope="col">Marks</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
          <th scope="col" >Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asm of filteredList; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{ asm.id }}</td>
          <td>{{ asm.name }}</td>
          <td>{{ asm.marks }}</td>
          <td>{{ asm.status }}</td>
          <td>{{ asm.assessmentDate }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" (click)="onEdit(asm, i)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="onDelete(asm, i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
