<div class="dashboard-center">
  <div class="stats-container">
    <!-- New Tenants Card -->
    <div class="stat-card">
      <div class="stat-header">
        <span>New Tenants</span>
      </div>
      <div class="stat-body">
        <h2>{{totalTenants}}</h2>
        <div class="dropdown-wrapper">
          <select [(ngModel)]="selectedRange"  (change)="filterData()">
            <option>This week</option>
            <option>Last week</option>
            <option>This month</option>
            <option>Last month</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Upcoming Expirations Card -->
    <div class="stat-card">
      <div class="stat-header">
        <span>Upcoming Expirations</span>
      </div>
      <div class="stat-body">
        <h2>0</h2>
      </div>
    </div>
  </div>
</div>