.form-control:disabled {
    background-color: #e9ecef;
}

.form-control, .form-select {
    border-radius: 0.5rem;
}

.btn-info {
    background-color: #3b82f6 !important;
    border-color: #3b82f6 !important;
}