<app-toaster #toaster></app-toaster>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{ isEditMode ? 'Update Campus Details' : 'Add New Campus' }}
      </h3>
    </div>
  </div>

  <!--begin::Form-->
  <form class="kt-form kt-form--label-right" [formGroup]="createCampusForm" (ngSubmit)="onSubmit()">
    <div class="kt-portlet__body">
      <h4>General Information</h4>
      <div class="form-group row form-group-marginless kt-margin-t-20">
        <label class="col-lg-1 col-form-label">Institute Name:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Institute Name" formControlName="instituteName" readonly>
        </div>
        <label class="col-lg-1 col-form-label required">Campus Name:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Campus name" formControlName="campusName"
            [class.is-invalid]="campusName?.invalid && (campusName?.touched || campusName?.dirty)"
            [class.is-valid]="campusName?.valid && (campusName?.touched || campusName?.dirty)">
          <span class="invalid-feedback" *ngIf="campusName?.invalid && (campusName?.touched || campusName?.dirty)">
            {{ getErrorMessage('campusName') }}
          </span>
        </div>

        <label class="col-lg-1 col-form-label">Campus Code:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Campus Code" formControlName="campusCode"
            [class.is-invalid]="createCampusForm.get('campusCode')?.invalid && (createCampusForm.get('campusCode')?.touched || createCampusForm.get('campusCode')?.dirty)"
            [class.is-valid]="createCampusForm.get('campusCode')?.valid && (createCampusForm.get('campusCode')?.touched || createCampusForm.get('campusCode')?.dirty)">
          <span class="invalid-feedback"
            *ngIf="createCampusForm.get('campusCode')?.invalid && (createCampusForm.get('campusCode')?.touched || createCampusForm.get('campusCode')?.dirty)">
            {{ getErrorMessage('campusCode') }}
          </span>
        </div>
      </div>

      <div class="form-group row form-group-marginless kt-margin-t-20">
        <label class="col-lg-1 col-form-label">Status:</label>
        <div class="col-lg-3">
          <label class="kt-checkbox kt-margin-t-10">
            <input type="checkbox" formControlName="active"> Is Active
            <span></span>
          </label>
        </div>
      </div>

      <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
      <h4 class="kt-margin-b-20">Contact Information</h4>

      <div class="form-group row form-group-marginless">
        <label class="col-lg-1 col-form-label required">Contact:</label>
        <div class="col-lg-3">
          <input type="tel" class="form-control" placeholder="e.g. +9232055****3" formControlName="contactNumber"
            [class.is-invalid]="contactNumber?.invalid && (contactNumber?.touched || contactNumber?.dirty)"
            [class.is-valid]="contactNumber?.valid && (contactNumber?.touched || contactNumber?.dirty)">
          <span class="form-text text-muted">Please enter your contact</span>
          <span class="invalid-feedback"
            *ngIf="contactNumber?.invalid && (contactNumber?.touched || contactNumber?.dirty)">
            {{ getErrorMessage('contactNumber') }}
          </span>
        </div>

        <label class="col-lg-1 col-form-label required">Email:</label>
        <div class="col-lg-3">
          <input type="email" class="form-control" placeholder="e.g. example@mail.com" formControlName="email"
            [class.is-invalid]="email?.invalid && (email?.touched || email?.dirty)"
            [class.is-valid]="email?.valid && (email?.touched || email?.dirty)">
          <span class="form-text text-muted">Please enter your Email</span>
          <span class="invalid-feedback" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
            {{ getErrorMessage('email') }}
          </span>
        </div>

        <label class="col-lg-1 col-form-label">Website:</label>
        <div class="col-lg-3">
          <input type="url" class="form-control" placeholder="https://www.example.com" formControlName="website">
          <span class="form-text text-muted">Please enter your Website</span>
        </div>
      </div>

      <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
      <h4 class="kt-margin-b-20">Address Information</h4>

      <div class="form-group row">
        <label class="col-lg-1 col-form-label required">Province:</label>
        <div class="col-lg-3">
          <select class="form-control" formControlName="provinceId"
            [class.is-invalid]="provinceId?.invalid && (provinceId?.touched || provinceId?.dirty)"
            [class.is-valid]="provinceId?.valid && (provinceId?.touched || provinceId?.dirty)">
            <option value='' selected>Select Province</option>
            <option *ngFor="let p of provinceDD" [value]="p.key">{{ p.label }}</option>
          </select>
          <span class="form-text text-muted">Please select your Province</span>
          <span class="invalid-feedback" *ngIf="provinceId?.invalid && (provinceId?.touched || provinceId?.dirty)">
            {{ getErrorMessage('provinceId') }}
          </span>
        </div>

        <label class="col-lg-1 col-form-label required">City:</label>
        <div class="col-lg-3">
          <select class="form-control" formControlName="cityId"
            [class.is-invalid]="cityId?.invalid && (cityId?.touched || cityId?.dirty)"
            [class.is-valid]="cityId?.valid && (cityId?.touched || cityId?.dirty)">
            <option value=''>Select City</option>
            <option *ngFor="let c of citiesDD" [value]="c.key">{{ c.label }}</option>
          </select>
          <span class="form-text text-muted">Please select your City</span>
          <span class="invalid-feedback" *ngIf="cityId?.invalid && (cityId?.touched || cityId?.dirty)">
            {{ getErrorMessage('cityId') }}
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-1 col-form-label">Address:</label>
        <div class="col-lg-11">
          <textarea class="form-control" placeholder="Enter full address" id="exampleTextarea" rows="3"
            formControlName="address"
            [class.is-invalid]="createCampusForm.get('address')?.invalid && (createCampusForm.get('address')?.touched || createCampusForm.get('address')?.dirty)"
            [class.is-valid]="createCampusForm.get('address')?.valid && (createCampusForm.get('address')?.touched || createCampusForm.get('address')?.dirty)"></textarea>
          <span class="invalid-feedback"
            *ngIf="createCampusForm.get('address')?.invalid && (createCampusForm.get('address')?.touched || createCampusForm.get('address')?.dirty)">
            {{ getErrorMessage('address') }}
          </span>
        </div>
      </div>
    </div>

    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-7">
            <button type="submit" class="btn btn-dark mr-2">
              {{ isEditMode ? 'Update Campus Details' : 'Add New Campus' }}
            </button>
            <button type="button" class="btn btn-danger" (click)="goToCampusListing()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--end::Form-->
</div>

<app-loader *ngIf="isLoading" [message]="loadingMessage" [fullScreen]="true"></app-loader>