<app-toaster #toaster></app-toaster>
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{ isEditMode ? 'Update Standard Details' : 'Add New Standard' }}
      </h3>
    </div>
  </div>

  <!--begin::Form-->
  <form class="kt-form kt-form--label-right" [formGroup]="createStandardForm" (ngSubmit)="onSubmit()">
    <div class="kt-portlet__body">
      <h4>Standard Information</h4>
      <div class="form-group row form-group-marginless kt-margin-t-20">

        <!-- Campus Dropdown -->
        <label class="col-lg-1 col-form-label required">Campus:</label>
        <div class="col-lg-3">
          <select class="form-control" formControlName="campusId"
            [class.is-invalid]="campusId?.invalid && (campusId?.touched || campusId?.dirty)"
            [class.is-valid]="campusId?.valid && (campusId?.touched || campusId?.dirty)">
            <option value="">Select Campus</option>
            <option *ngFor="let c of campuses" [value]="c.id">{{ c.campusName }}</option>
          </select>
          <span class="form-text text-muted">Please select a campus</span>
          <span class="invalid-feedback" *ngIf="campusId?.invalid && (campusId?.touched || campusId?.dirty)">
            {{ getErrorMessage('campusId') }}
          </span>
        </div>

        <!-- Standard Name -->
        <label class="col-lg-1 col-form-label required">Standard Name:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Standard Name" formControlName="standardName"
            [class.is-invalid]="standardName?.invalid && (standardName?.touched || standardName?.dirty)"
            [class.is-valid]="standardName?.valid && (standardName?.touched || standardName?.dirty)">
          <span class="form-text text-muted">Enter Standard Name</span>
          <span class="invalid-feedback"
            *ngIf="standardName?.invalid && (standardName?.touched || standardName?.dirty)">
            {{ getErrorMessage('standardName') }}
          </span>
        </div>

        <!-- Standard Code -->
        <label class="col-lg-1 col-form-label">Standard Code:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Standard Code" formControlName="standardCode"
            [class.is-invalid]="standardCode?.invalid && (standardCode?.touched || standardCode?.dirty)"
            [class.is-valid]="standardCode?.valid && (standardCode?.touched || standardCode?.dirty)">
          <span class="form-text text-muted">Enter Standard Code</span>
          <span class="invalid-feedback"
            *ngIf="standardCode?.invalid && (standardCode?.touched || standardCode?.dirty)">
            {{ getErrorMessage('standardCode') }}
          </span>
        </div>

      </div>

      <!-- Description -->
      <div class="form-group row kt-margin-t-40">
        <label class="col-lg-1 col-form-label">Description:</label>
        <div class="col-lg-11">
          <textarea class="form-control" rows="3" placeholder="Description" formControlName="description"
            [class.is-invalid]="description?.invalid && (description?.touched || description?.dirty)"
            [class.is-valid]="description?.valid && (description?.touched || description?.dirty)"></textarea>
          <span class="form-text text-muted">Enter description if needed</span>
          <span class="invalid-feedback" *ngIf="description?.invalid && (description?.touched || description?.dirty)">
            {{ getErrorMessage('description') }}
          </span>
        </div>
      </div>

    </div>

    <!-- Form Actions -->
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-7">
            <button type="submit" class="btn btn-dark mr-2">
              {{ isEditMode ? 'Update Standard Details' : 'Add New Standard' }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="goToStandardList()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--end::Form-->
</div>
<app-loader *ngIf="isLoading" [message]="loadingMessage" [fullScreen]="true"></app-loader>