.sidebar-container {
  overflow-y: auto; /* enable vertical scroll */
  height: 100%;     /* fill the parent container */
  background-color:var(--sidebar-bg) !important;
  border-right: 1px solid #dee2e6;
}

.sidebar-btn {
  background: transparent;
  border: none;
  text-align: left;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.2s;
}
.sidebar-btn:hover {
  background-color: var(--active-item-bg);
}

.sidebar-btn.active {
  background-color: var(--active-item-bg);
  color: var(--active-item-text);
}
.active-label {
  background-color:var(--active-item-bg);
  color: var(--active-item-text);
}
.list-unstyled .list-unstyled {
  padding-left: 20px;
}
.bi {
  font-size: 1.2rem;
  margin-right: 8px;
  vertical-align: middle;
}
