.table-responsive-custom {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

#kt_table_1 {
  width: 100%;
  border-collapse: separate; 
  table-layout: auto !important; /* this makes cells expand as per their content */
  white-space: nowrap !important; /* prevent text wrapping */
}

#kt_table_1 th, 
#kt_table_1 td {
  white-space: nowrap !important;
}


.cursor-pointer {
  cursor: pointer;
}