<div class="kt-subheader  kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">Student Fee Collector</h3>
      <span class="kt-subheader__separator kt-subheader__separator--v"></span>

      <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
        <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
        <span class="kt-input-icon__icon kt-input-icon__icon--right">
          <span><i class="flaticon2-search-1"></i></span>
        </span>
      </div>
    </div>
    <div class="kt-subheader__toolbar">
      <div class="kt-subheader__wrapper">
      </div>
    </div>
  </div>
</div>




<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-dark flaticon-squares"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        FeeDesk – Search Student
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">

        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <!--begin: Search-->
    <form class="kt-form kt-form--label-right" [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="kt-portlet__body">
        <h4>Compus/Standard/Section Information</h4>


        <div class="form-group row form-group-marginless kt-margin-t-20">
          <label class="col-lg-1 col-form-label">Academic Year:</label>
          <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Academic Year" formControlName="academicYearName"
              readonly>
          </div>


          <label class="col-lg-1 col-form-label">Campus:</label>
          <div class="col-lg-3">
            <select class="form-control" formControlName="campusId"
              [class.is-invalid]="campusId?.invalid && (campusId?.touched || campusId?.dirty)"
              [class.is-valid]="campusId?.valid && (campusId?.touched || campusId?.dirty)">
              <option value='' selected>Select Campus</option>
              @for (p of campuses; track p.id) {
              <option [value]="p.id">{{ p.campusName }}</option>
              }
            </select>
            <span class="form-text text-muted">Please select Campus</span>
            <span class="invalid-feedback" *ngIf="campusId?.errors?.['required']">
              Campus is required
            </span>
          </div>


          <label class="col-lg-1 col-form-label">Standard:</label>
          <div class="col-lg-3">
            <select class="form-control" formControlName="standardId"
              [class.is-invalid]="standardId?.invalid && (standardId?.touched || standardId?.dirty)"
              [class.is-valid]="standardId?.valid && (standardId?.touched || standardId?.dirty)">
              <option value='' selected>Select Standard</option>
              @for (p of standardDD; track p.id) {
              <option [value]="p.id">{{ p.standardName }}</option>
              }
            </select>
            <span class="form-text text-muted">Please select Standard</span>
            <span class="invalid-feedback" *ngIf="standardId?.errors?.['required']">
              Standard is required
            </span>
          </div>




        </div>
        <div class="form-group row form-group-marginless kt-margin-t-20">


          <label class="col-lg-1 col-form-label">Student Id:</label>
          <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Student Code/Student Roll#"
              formControlName="studentId">
          </div>
        </div>
        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit">
        </div>
      </div>
      <div class="kt-portlet__foot">
        <div class="kt-form__actions">
          <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-7">
              <button type="submit" class="btn btn-dark mr-2">Search</button>
              <button type="button" class="btn btn-secondary" (click)="resetSearch()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!--end: Search-->
    <!--begin: Datatable -->

    <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

      @if(studentsResponse && studentsResponse.length > 0){
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive-custom">
            <table
              class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline"
              id="kt_table_1" role="grid" aria-describedby="kt_table_1_info">
              <thead>
                <tr role="row">
                  <th tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" aria-sort="ascending"
                    aria-label="Record ID: activate to sort column descending" *ngFor="let col of columns">{{ col.label
                    }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let item of pagination.paginatedItems"
                  (click)="getFeeDetailstDetails(item)">
                  <td>1254</td>
                  <td>{{item.studentCode}}</td>
                  <td>{{ item.fullName }}</td>
                  <td>{{ item.firstName }}</td>
                  <td>{{ item.lastName }}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.gender}}</td>
                  <td>{{item.dateOfBirth}}</td>
                  <td>3310427306979</td>
                  <td>{{item.cnic}}</td>
                  <td>
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--rounded"
                      [ngClass]="item.isActive ? 'kt-badge--brand' : 'kt-badge--danger'">
                      {{item.isActive===true ? 'Active' : 'Inactive'}}
                    </span>


                  </td>
                  <td>{{ item.enrollmentDate }}</td>
                  <td>{{ item.standard.standardName }}</td>
                  <td>{{ item.standard.standardCode }}</td>
                  <td>{{ item.campus.campusName }}</td>
                  <td>{{ item.campus.campusCode }}</td>
                  <td nowrap="">
                    <a class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View"
                      (click)="getFeeDetailstDetails(item)">
                      <i class="la la-money"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length" id="kt_table_1_length">
              <label>Show <select (change)="onPageSizeChange($event)" name="kt_table_1_length"
                  aria-controls="kt_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select> entries</label>
            </div>
          </div>
          <div class="dataTables_info" id="kt_table_1_info" role="status" aria-live="polite">Showing {{
            pagination.startItem }} to {{ pagination.endItem }} of {{ pagination.totalItems }} entries</div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="dataTables_paginate paging_full_numbers" id="kt_table_1_paginate">
            <ul class="pagination">


              <!-- FIRST -->
              <li class="paginate_button page-item first" [class.disabled]="pagination.pageIndex === 0">
                <a class="page-link" (click)="pagination.first()">
                  <i class="la la-angle-double-left"></i>
                </a>
              </li>


              <!-- PREVIOUS -->
              <li class="paginate_button page-item previous" [class.disabled]="pagination.pageIndex === 0">
                <a class="page-link" (click)="pagination.prev()">
                  <i class="la la-angle-left"></i>
                </a>
              </li>


              <!-- LEFT ELLIPSIS -->
              <li class="paginate_button page-item disabled" *ngIf="pagination.showLeftEllipsis">
                <a class="page-link">...</a>
              </li>


              <!-- PAGE NUMBERS -->
              <li class="paginate_button page-item" *ngFor="let page of pagination.visiblePages"
                [class.active]="pagination.pageIndex === page">


                <a class="page-link" (click)="pagination.goToPage(page)">
                  {{ page + 1 }}
                </a>
              </li>


              <!-- RIGHT ELLIPSIS -->
              <li class="paginate_button page-item disabled" *ngIf="pagination.showRightEllipsis">
                <a class="page-link">...</a>
              </li>


              <!-- NEXT -->
              <li class="paginate_button page-item next"
                [class.disabled]="pagination.pageIndex >= pagination.totalPages - 1">
                <a class="page-link" (click)="pagination.next()">
                  <i class="la la-angle-right"></i>
                </a>
              </li>


              <!-- LAST -->
              <li class="paginate_button page-item last"
                [class.disabled]="pagination.pageIndex >= pagination.totalPages - 1">
                <a class="page-link" (click)="pagination.last()">
                  <i class="la la-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      }
      @else {
      <div class="alert alert-dark" role="alert">
        <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
        <div class="alert-text">
          <div class="alert-text">
            <h5>No data to display</h5>
            Please search using campus, standard, or student ID to view results.
          </div>
        </div>
      </div>

      }

    </div>

    <!--end: Datatable -->
  </div>
</div>

@if(showFeeSummary){
<div class="kt-portlet kt-portlet--mobile" id="feeSummary">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-dark flaticon-squares"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Student Financial Catalog

      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">

        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">

    <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">


      <div class="row">
        <div class="col-xl-12">


          <!--begin:: Widgets/Personal Income-->
          <div class="kt-portlet kt-portlet--fit kt-portlet--head-lg kt-portlet--head-overlay kt-portlet--height-fluid">
            <div class="kt-portlet__head kt-portlet__space-x">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title kt-font-light">
                  Student Fee Details
                </h3>
              </div>
              <div class="kt-portlet__head-toolbar">
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="kt-widget27">
                <div class="kt-widget27__visual">
                  <img src="/assets/media/bg/bg-4.jpg" alt="">
                  <h4 class="kt-widget27__title">
                    <span>Total PKR {{ feeSummary?.totalAssignedFee | number:'1.0-0' }}</span>
                  </h4>
                  <div class="kt-widget27__btn">
                    <a class="btn btn-pill btn-light btn-elevate btn-bold" (click)="toggleFeeSubmissionForm()">Click
                      here to Collect Fee</a>
                  </div>
                </div>
                <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer kt-margin-t-30">


                  @if (showFeeSubmissionForm) {
                  <div class="row kt-margin-t-30">
                    <div class="col-sm-12">
                      <form class="kt-form kt-form--label-right" [formGroup]="feeSubmitForm"
                        (ngSubmit)="feeSubmitionForm()">
                        <div class="form-group row form-group-marginless kt-margin-t-20">
                          <label class="col-lg-1 col-form-label">Month:</label>
                          <div class="col-lg-5">
                            <input class="form-control" type="text" id="example-month-input"
                              formControlName="paymentMonth" readonly>
                          </div>
                          <label class="col-lg-1 col-form-label">Amount:</label>
                          <div class="col-lg-5">


                            <input type="text" class="form-control" placeholder="Amount" formControlName="amountPaid">
                          </div>
                        </div>
                        <div
                          class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit">
                        </div>

                        <div class="row">
                          <div class="col-lg-5"></div>
                          <div class="col-lg-7">
                            <button type="submit" class="btn btn-dark mr-2">
                              Submit</button>
                            <button type="button" class="btn btn-secondary"
                              (click)="toggleFeeSubmissionForm()">Cancel</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  }

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="table-responsive-custom mt-4">
                        <table
                          class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline"
                          id="kt_table_1" role="grid" aria-describedby="kt_table_1_info">


                          <thead tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1">
                            <tr role="row" class="odd">
                              <th *ngFor="let col of feeTablecolumns">
                                {{ col.label }}
                              </th>
                            </tr>
                          </thead>


                          <tbody>
                            <tr role="row" class="odd" *ngFor="let month of feeSummary?.monthlyPayments">
                              <!-- Month -->
                              <td>{{ month?.month }}</td>


                              <!-- Status Badge -->
                              <td>
                                <span class="kt-badge kt-badge--inline" [ngClass]="{
            'kt-badge--success': month?.status === 'Paid',
            'kt-badge--warning': month?.status === 'Partial',
            'kt-badge--danger': month?.status === 'Unpaid'
          }">
                                  {{ month?.status }}
                                </span>
                              </td>

                              <td class="kt-font-bold">
                                {{ feeSummary?.monthlyFeeDecimal| currency:'PKR' }}
                              </td>


                              <!-- Monthly Fee -->
                              <td class="kt-font-bold">
                                {{ month?.totalMonthlyFee | currency:'PKR' }}
                              </td>


                              <!-- Paid (This Month) -->
                              <td class="kt-font-bold">
                                {{ month?.totalPaid | currency:'PKR' }}
                              </td>


                              <!-- Total Paid So Far -->
                              <td class="kt-font-bold">
                                {{ month?.totalPaidSoFar | currency:'PKR' }}
                              </td>


                              <!-- Partial Payments -->
                              <td>
                                <div *ngIf="(month?.partialPayments ?? []).length > 0; else noPayments">
                                  <div *ngFor="let payment of month?.partialPayments ?? []">
                                    {{ payment?.paymentDate }} - {{ payment?.amountPaid | currency:'PKR' }}
                                    ({{ payment?.paymentMode || 'N/A' }})
                                  </div>
                                </div>
                                <ng-template #noPayments>
                                  <span class="text-muted kt-font-danger">No Payment</span>
                                </ng-template>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end: Datatable -->
  </div>
</div>
}