.center-widget {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}


.dropdown {
  position: absolute;
  top: 10px;   /* adjust as needed */
  right: 10px; /* align to right */
  z-index: 10;
}
.kt-widget17__item {
  position: relative; /* make container relative for absolute positioning */
}


