<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-dark flaticon-squares"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Fee Catalog Component Details
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">

            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-widget kt-widget--user-profile-3">
            <div class="kt-widget__top">
                <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-bolder kt-font-light">
                    {{getInitials(resourceData?.componentName)}}
                </div>
                <div class="kt-widget__content">
                    <div class="kt-widget__head">
                        <div class="kt-widget__user">
                            <a class="kt-widget__username">
                                {{resourceData?.componentName}}
                                <span class=" ml-2 kt-badge kt-badge--bolder kt-badge kt-badge--inline"
                                    [ngClass]="resourceData?.active ? 'kt-badge--unified-success' : 'kt-badge--unified-danger'">{{resourceData?.active
                                    ? 'Active' : 'Inactive'}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="kt-widget__subhead row">
                        <div class="col-4">
                            <a> <b>Fee Component Code:</b> {{resourceData?.componentCode}}</a>
                        </div>

                        <div class="col-4">
                            <a><b>Fee Catalog Name: </b>{{resourceData?.feeCatalog?.name}}</a>
                        </div>

                        <div class="col-4">
                            <a> <b> Fee Catalog Code:</b> {{resourceData?.feeCatalog?.code}}</a>
                        </div>
                    </div>
                    <div class="kt-widget__subhead row">
                        <div class="col-4">
                            <a> <b>Fee Catalog Charge Type:</b> {{resourceData?.chargeType?.name}} </a>
                        </div>

                        <div class="col-4">
                            <a><b>Fee Catalog Recurrence Rule: </b>{{resourceData?.recurrenceRule?.name}}</a>
                        </div>

                        <div class="col-4">
                            <a style="padding: 5px !important;"> <b>Discountable:</b></a>
                            <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline"
                                [ngClass]="resourceData?.discountable ? 'kt-badge--unified-success' : 'kt-badge--unified-danger'">{{resourceData?.active
                                ? 'YES' : 'NO'}}</span>

                        </div>
                    </div>
                    <div class="kt-widget__info">
                        <div class="kt-widget__desc">
                            <b>Description: {{resourceData?.feeCatalog?.description}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>