<app-toaster #toaster></app-toaster>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{ isEditMode ? 'Update Fee Catalog Details' : 'Add New Fee Catalog Type' }}
      </h3>
    </div>
  </div>

  <form class="kt-form kt-form--label-right" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="kt-portlet__body">
      <h6 class="text-primary mb-4">Fee Catalog Information</h6>

      <div class="form-group row form-group-marginless kt-margin-t-20">
        <label class="col-lg-1 col-form-label required font-weight-bold">Name:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Fee Catalog Name" formControlName="name"
            [class.is-invalid]="name?.invalid && (name?.touched || name?.dirty)">
          <span class="invalid-feedback" *ngIf="name?.invalid && (name?.touched || name?.dirty)">
            {{ getErrorMessage('name') }}
          </span>
        </div>

        <label class="col-lg-1 col-form-label font-weight-bold">Code:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Code" formControlName="code"
            [class.is-invalid]="code?.invalid && (code?.touched || code?.dirty)">
          <span class="invalid-feedback" *ngIf="code?.invalid && (code?.touched || code?.dirty)">
            {{ getErrorMessage('code') }}
          </span>
        </div>

        <label class="col-lg-1 col-form-label required font-weight-bold">Charge Type:</label>
        <div class="col-lg-3">
          <select class="form-control" formControlName="chargeTypeId"
            [class.is-invalid]="chargeTypeId?.invalid && (chargeTypeId?.touched || chargeTypeId?.dirty)">
            <option value=''>Select Charge Type</option>
            <option *ngFor="let p of chargeTypeOptions" [value]="p.key">{{ p.label }}</option>
          </select>
          <span class="invalid-feedback"
            *ngIf="chargeTypeId?.invalid && (chargeTypeId?.touched || chargeTypeId?.dirty)">
            {{ getErrorMessage('chargeTypeId') }}
          </span>
        </div>
      </div>

      <div class="form-group row form-group-marginless kt-margin-t-20">
        <label class="col-lg-1 col-form-label font-weight-bold">Recurrence:</label>
        <div class="col-lg-3">
          <select class="form-control" formControlName="recurrenceRuleId"
            [class.is-invalid]="recurrenceRuleId?.invalid && (recurrenceRuleId?.touched || recurrenceRuleId?.dirty)">
            <option value=''>Select Recurrence Rule</option>
            <option *ngFor="let c of recurrenceRuleOptions" [value]="c.key">{{ c.label }}</option>
          </select>
          <span class="invalid-feedback"
            *ngIf="recurrenceRuleId?.invalid && (recurrenceRuleId?.touched || recurrenceRuleId?.dirty)">
            {{ getErrorMessage('recurrenceRuleId') }}
          </span>
        </div>

        <label class="col-lg-1 col-form-label font-weight-bold">Status:</label>
        <div class="col-lg-3">
          <label class="kt-checkbox kt-margin-t-10">
            <input type="checkbox" formControlName="active"> Is Active
            <span></span>
          </label>
        </div>
      </div>

      <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>

      <div class="form-group row form-group-marginless">
        <label class="col-lg-1 col-form-label font-weight-bold">Description:</label>
        <div class="col-lg-11">
          <textarea class="form-control" rows="3" placeholder="Enter description" formControlName="description"
            [class.is-invalid]="description?.invalid && (description?.touched || description?.dirty)"></textarea>
          <span class="invalid-feedback"
            *ngIf="description?.invalid && (description?.touched || description?.dirty)">
            {{ getErrorMessage('description') }}
          </span>
        </div>
      </div>
    </div>

    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-7">
            <button type="submit" class="btn btn-dark mr-2">
              {{ isEditMode ? 'Update Details' : 'Add Catalog' }}
            </button>
            <button type="button" class="btn btn-danger" (click)="goToFeeCatalogList()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-loader *ngIf="isLoading" [message]="loadingMessage" [fullScreen]="true"></app-loader>

<app-loader *ngIf="isLoading" [message]="loadingMessage" [fullScreen]="true"></app-loader>